<template>
  <el-form label-width="100">
    <el-form-item label="sku名称">
      <el-input
        type="text"
        v-model="skuParams.skuName"
        placeholder="SKU名称"
      ></el-input>
    </el-form-item>
    <el-form-item label="价格(元)">
      <el-input
        type="number"
        placeholder="价格(元)"
        v-model="skuParams.price"
      ></el-input>
    </el-form-item>
    <el-form-item label="重量（克）">
      <el-input
        type="number"
        placeholder="重量（克"
        v-model="skuParams.weight"
      ></el-input>
    </el-form-item>
    <el-form-item label="sku描述">
      <el-input
        type="textarea"
        placeholder="sku描述"
        v-model="skuParams.skuDesc"
      ></el-input>
    </el-form-item>
    <el-form-item label="平台属性">
      <el-form :inline="true">
        <el-form-item
          :label="it.attrName"
          v-for="(it, index) in categoryAttrList"
          :key="it.id"
          style="margin: 0 50px 10px 0"
        >
          <el-select v-model="it.attrIdAndValueId">
            <el-option
              v-for="(attr, idx) in it.attrValueList"
              :key="attr.id"
              :label="attr.valueName"
              :value="`${attr.attrId}?${attr.id}`"
            ></el-option>
          </el-select>
        </el-form-item>
      </el-form>
    </el-form-item>
    <el-form-item label="销售属性">
      <el-form :inline="true">
        <el-form-item
          :label="it.saleAttrName"
          v-for="(it, index) in onSaleAttrList"
          :key="it.id"
          style="margin: 0 50px 10px 0"
        >
          <el-select v-model="it.saleAttrIdAndValueId">
            <el-option
              v-for="(saleAttr, idx) in it.spuSaleAttrValueList"
              :key="saleAttr.id"
              :label="saleAttr.saleAttrValueName"
              :value="`${saleAttr.baseSaleAttrId}?${saleAttr.id}`"
            ></el-option>
          </el-select>
        </el-form-item>
      </el-form>
    </el-form-item>
    <el-form-item label="图片名称">
      <el-table border :data="onSaleImgList" ref="onSaleImgTable">
        <el-table-column
          type="selection"
          width="80"
          align="center"
        ></el-table-column>
        <el-table-column label="图片">
          <template #default="{ row, $index }">
            <img :src="row.imgUrl" style="width: 100px; height: 100px" alt="" />
          </template>
        </el-table-column>
        <el-table-column label="名称" prop="imgName"></el-table-column>
        <el-table-column label="操作">
          <template #default="{ row, $index }">
            <el-button type="warning" size="small" @click="setDefault(row)">
              设置默认
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" size="default" @click="save">确认</el-button>
      <el-button size="default" @click="cancel">取消</el-button>
    </el-form-item>
  </el-form>
</template>

<script lang="ts" setup>
import { attrByCategory3 } from '@/api/product/attr'
import {
  addNewSku,
  getAllOnSaleImage,
  getAllSaleAttrList,
} from '@/api/product/spu'
import { reactive, ref } from 'vue'
import { skuInfo } from '@/api/product/spu/type'
import { ElMessage } from 'element-plus'

defineOptions({
  name: 'formSku',
})
//  注册父组件的定义事件

const $emit = defineEmits(['changeScene'])
// 平台属性
let categoryAttrList = ref<any>([])
// 销售属性
let onSaleAttrList = ref<any>([])
// 在售图片
let onSaleImgList = ref<any>([])
// 新增sku接口的入参
let skuParams = reactive<skuInfo>({
  category3Id: '', // 三级分类的Id
  spuId: '', // 已有的SPU的id
  tmId: '', // spu的品牌id
  skuName: '', //sku的名字
  skuDesc: '', //sku的描述
  price: '', //sku的价格
  weight: '', //sku的重量
  skuAttrValueList: [], // 平台属性
  skuDefaultImg: '', //默认图片
  skuSaleAttrValueList: [], // 销售属性
})
// 表格图片的实例
let onSaleImgTable = ref<any>()
// =========================方法=================================
//  取消按钮
const cancel = () => {
  $emit('changeScene', {
    changeScene: 0,
  })
}
//  初始化子组件事件，添加
const initSkuData = async (categoryId1, categoryId2, row) => {
  // 重置数据
  resetSkuParams()
  // 接口赋值
  skuParams.category3Id = row.category3Id
  skuParams.spuId = row.id
  skuParams.tmId = row.tmId

  // 平台属性
  let res1 = await attrByCategory3(categoryId1, categoryId2, row.category3Id)
  // 销售属性
  let res2 = await getAllSaleAttrList(row.id)
  //  在售图片列表
  let res3 = await getAllOnSaleImage(row.id)
  categoryAttrList.value = res1.data
  onSaleAttrList.value = res2.data
  onSaleImgList.value = res3.data
}
//  暴露子组件的事件
defineExpose({ initSkuData })
// 重置SkuParams的值
const resetSkuParams = () => {
  Object.assign(skuParams, {
    category3Id: '', // 三级分类的Id
    spuId: '', // 已有的SPU的id
    tmId: '', // spu的品牌id
    skuName: '', //sku的名字
    skuDesc: '', //sku的描述
    price: '', //sku的价格
    weight: '', //sku的重量
    skuAttrValueList: [], // 平台属性
    skuDefaultImg: '', //默认图片
    skuSaleAttrValueList: [], // 销售属性
  })
}
// 设置默认事件
const setDefault = (row) => {
  // 设置选择
  onSaleImgList.value.map((it) => {
    onSaleImgTable.value.toggleRowSelection(it, row.id === it.id)
  })

  skuParams.skuDefaultImg = row.imgUrl
}
//  确认按钮的回调
const save = async () => {
  // 处理平台属性数据
  skuParams.skuAttrValueList = categoryAttrList.value.reduce((acc, pre) => {
    if (pre.attrIdAndValueId) {
      let [attrId, valueId] = pre.attrIdAndValueId.split('?')
      return [
        ...acc,
        {
          attrId,
          valueId,
        },
      ]
    }
    return acc
  }, [])
  //  处理销售属性数据
  skuParams.skuSaleAttrValueList = onSaleAttrList.value.reduce((acc, pre) => {
    if (pre.saleAttrIdAndValueId) {
      let arr = pre.saleAttrIdAndValueId.split('?')
      let newObj = {
        saleAttrId: arr[0],
        saleAttrValueId: arr[1],
      }
      return [...acc, newObj]
    }
    return acc
  }, [])
  // 调用接口存储数据
  let res = await addNewSku(skuParams)
  if (res.code !== 200) {
    ElMessage.error('添加失败：' + res.message)
    return
  }
  //  添加成功后 返回上一个页面
  ElMessage.success('添加成功')
  $emit('changeScene', {
    changeScene: 0,
  })
}
</script>

<style scoped lang="scss"></style>
