<template>
  <el-form label-width="100">
    <el-form-item label="SPU名称">
      <el-input
        v-model="spuParams.spuName"
        placeholder="请输入SPU名称"
      ></el-input>
    </el-form-item>
    <el-form-item label="SPU品牌">
      <el-select v-model="spuParams.tmId">
        <el-option
          v-for="(it, i) in allTradeMark"
          :key="it.id"
          :value="it.id"
          :label="it.tmName"
        ></el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="SPU描述">
      <el-input type="textarea" v-model="spuParams.description"></el-input>
    </el-form-item>
    <el-form-item label="SPU照片墙">
      <!--  action: 是用来上传接口地址    -->
      <el-upload
        v-model:file-list="ImgList"
        list-type="picture-card"
        :on-preview="handlePictureCardPreview"
        :on-remove="handleRemove"
        :on-success="handleUploadSuccess"
        :before-upload="beforeAvatarUpload"
        action="/api/admin/product/fileUpload"
      >
        <el-icon><Plus /></el-icon>
      </el-upload>

      <el-dialog v-model="dialogVisible">
        <img
          w-full
          :src="dialogImageUrl"
          style="width: 100%; height: 100%"
          alt="Preview Image"
        />
      </el-dialog>
    </el-form-item>
    <el-form-item label="SPU销售属性">
      <!--  spu的销售属性    -->
      <el-select
        :placeholder="
          unSelectSaleAttr.length
            ? `还有${unSelectSaleAttr.length}个属性可选`
            : '无'
        "
        v-model="unSelectAttr"
      >
        <el-option
          v-for="(it, i) in unSelectSaleAttr"
          :key="it.id"
          :value="`${it.id}?${it.name}`"
          :label="it.name"
        ></el-option>
      </el-select>
      <el-button
        :disabled="!unSelectSaleAttr.length"
        style="margin-left: 10px"
        type="primary"
        @click="handleAddSaleAttr"
        icon="Plus"
      >
        添加销售属性
      </el-button>
      <!--  table 是展示销售属性和属性值的地方    -->
      <el-table border :data="saleAttrList" style="margin: 10px 0">
        <el-table-column
          type="index"
          label="序号"
          align="center"
          style="margin: 10px 0"
          width="80"
        ></el-table-column>
        <el-table-column
          label="属性名"
          prop="saleAttrName"
          width="100px"
        ></el-table-column>
        <el-table-column label="属性值">
          <template #default="{ row, $index }">
            <el-tag
              style="margin: 0 5px"
              closable
              v-for="(it, i) in row.spuSaleAttrValueList"
              :key="it.id"
              @close="row.spuSaleAttrValueList.splice(i, 1)"
            >
              {{ it.saleAttrValueName }}
            </el-tag>
            <el-input
              size="small"
              @blur="toLook(row)"
              v-if="row.flag"
              v-model="row.newSaleAttr"
              placeholder="请输入销售品属性值"
              style="width: 100px; margin-left: 10px"
            ></el-input>
            <el-button
              v-else
              size="small"
              @click="toEdit(row)"
              type="success"
              icon="Plus"
            >
              添加
            </el-button>
          </template>
        </el-table-column>
        <el-table-column label="操作" width="150px">
          <template #default="{ row, $index }">
            <el-button
              type="danger"
              icon="Delete"
              @click="saleAttrList.splice($index, 1)"
            ></el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" :disabled="!saleAttrList.length" @click="save">保存</el-button>
      <el-button type="primary" @click="cancel">取消</el-button>
    </el-form-item>
  </el-form>
</template>

<script lang="ts" setup>
import {
  baseSaleAttr,
  baseSaleAttrResponse,
  onSaleImg,
  onSaleImgResponse,
  SpuData,
  spuSaleAttr,
  spuSaleAttrResponse,
  TradeMark,
} from '@/api/product/spu/type'

defineOptions({
  name: 'addEditSpu',
})
import type { UploadProps, UploadUserFile } from 'element-plus'
import { computed, onMounted, ref } from 'vue'
import {
  addAndEditSpu,
  getAllBaseAttr,
  getAllOnSaleImage,
  getAllSaleAttrList,
  getAllTradeMark,
} from '@/api/product/spu'
import { tradeMarkResponse } from '@/api/product/spu/type.ts'
import { ElMessage } from 'element-plus'
//  注册父组件的定义事件
const $emit = defineEmits(['changeScene'])

//  周期函数
onMounted(() => {})
//
let unSelectSaleAttr = computed(() => {
  return baseAttrList.value.filter((item) => {
    return saleAttrList.value.every((attr) => {
      return item.name !== attr.saleAttrName
    })
  })
})
//  =======自定义数据======
//  定义所有的品牌消息
let allTradeMark = ref<TradeMark[]>([])
// 定义相册图片的文件夹
let ImgList = ref<UploadUserFile[]>([])
//  所有的销售品对象 表格数据
let saleAttrList = ref<spuSaleAttr[]>([])
//  基础的销售品属性，所以的销售属性，下拉列表展示用
let baseAttrList = ref<baseSaleAttr[]>([])
//  预览图片的显示框
let dialogVisible = ref<Boolean>(false)
//  预览图片的显示问价路径
let dialogImageUrl = ref<String>('')
//  spu数据入参，用于修改和新加接口
let spuParams = ref<SpuData>({
  // id: 0,
  category3Id: '', // 手机三级分类的id
  spuName: '', //SPU的名称
  description: '', // SPU的描述
  tmId: '', // 品牌的id
  spuImageList: [], // 在售图片
  spuSaleAttrList: [], // spu的销售属性
})
//  选择未选中的信息
let unSelectAttr = ref('')
// ==============方法===================
//  取消按钮的回调
const cancel = () => {
  //  触发父组件的事件
  $emit('changeScene', {
    changeScene: 0,
  })
}
//  初始化子组件事件，编辑
const initFormSpuData = async (row: SpuData) => {
  // 清空上次参数
  resetSpuParams()
  // 赋值
  spuParams.value = row

  //  调用子组件方法
  let result1: tradeMarkResponse = await getAllTradeMark()
  let result2: onSaleImgResponse = await getAllOnSaleImage(row.id as number)
  let result3: spuSaleAttrResponse = await getAllSaleAttrList(row.id as number)
  let result4: baseSaleAttrResponse = await getAllBaseAttr()
  // 所有的品牌数据
  allTradeMark.value = result1.data || []
  // 在售图片的列表
  ImgList.value = result2.data.map((it) => {
    return { name: it.imgName || '', url: it.imgUrl || '' }
  })
  // 所有的销售品对象
  saleAttrList.value = result3.data || []
  // 所有的基础属性
  baseAttrList.value = result4.data || []
}
//  初始化子组件事件，添加
const initAddSpuData = async(categoryId3: string | number) => {
  // 清空上次参数
  resetSpuParams()
  let resTradeMark: tradeMarkResponse = await getAllTradeMark()
  let resBaseSale: baseSaleAttrResponse = await getAllBaseAttr()
  // 所有的品牌数据
  allTradeMark.value = resTradeMark.data || []
  // 所有的基础属性
  baseAttrList.value = resBaseSale.data || []
  // 三级分类Id
  spuParams.value.category3Id = categoryId3
}
//  向外暴露 初始化子组件事件
defineExpose({ initFormSpuData, initAddSpuData })
//  图片上传的接口
const handlePictureCardPreview = (imgFile: any) => {
  dialogImageUrl.value = imgFile.url
  dialogVisible.value = true
}
//  图片上传的 移除回调事件
const handleRemove = (imgFile: any) => {
  console.log(imgFile)
}
//  图片上传的  成功回调事件
const handleUploadSuccess = (response, uploadFile) => {
  if (response.code !== 200) {
    return
  }
  // ImgList.value.push({
  //   name: uploadFile.name,
  //   url: uploadFile.data,
  // })
}
//  图片上传前的回调函数
const beforeAvatarUpload = (rawFile) => {
  const imgTypes = ['image/jpeg', 'image/jpg', 'image/png']
  if (!imgTypes.includes(rawFile.type)) {
    ElMessage.error('图片上传不支持这种格式')
    return false
  } else if (rawFile.size > 5 * 1024 * 1024) {
    ElMessage.error('上传图片的大小不能超过2MB!')
    return false
  }
  return true
}
//  添加新的销售属性
const handleAddSaleAttr = () => {
  const arr = unSelectAttr.value.split('?')
  let [baseSaleAttrId, saleAttrName] = arr

  // 定义一个新的属性
  let newSaleAttr: spuSaleAttr = {
    baseSaleAttrId: baseSaleAttrId,
    saleAttrName: saleAttrName,
    spuSaleAttrValueList: [],
  }
  saleAttrList.value.push(newSaleAttr)
  unSelectAttr.value = ''
}
// 点击标签的编辑事件
const toEdit = (row) => {
  row.flag = true
  row.newSaleAttr = ''
}
//  输入框失去焦点的事件
const toLook = (row) => {
  let { newSaleAttr, baseSaleAttrId } = row
  //  存在空的值
  if (!newSaleAttr.trim()) {
    ElMessage.info('您还未输入属性值')
    row.flag = false
    return
  }
  //  存在重复值
  if (
    row.spuSaleAttrValueList.find((it) => it.saleAttrValueName === newSaleAttr)
  ) {
    ElMessage.error('属性值有重复，请重新输入！')
    return
  }

  // 将新值增加到属性列表中
  row.spuSaleAttrValueList.push({
    baseSaleAttrId: baseSaleAttrId,
    saleAttrValueName: newSaleAttr,
  })
  row.newSaleAttr = ''
  row.flag = false
}
// 保存按钮的回调
const save = async () => {
  //   整理图片
  spuParams.value.spuImageList = ImgList.value.map((it) => {
    return {
      imgName: it.name,
      imgUrl: (it.response && it.response.data) || it.url,
    }
  })
  //   整理销售属性
  spuParams.value.spuSaleAttrList = saleAttrList.value || []
  let reslut = await addAndEditSpu(spuParams.value)
  if(reslut.code !== 200){
    ElMessage.error( spuParams.value.id ? '更新失败' : '新增失败' )
    return
  }
  ElMessage.success( spuParams.value.id ? '更新成功' : '新增成功' )
  // 更新场景
  $emit('changeScene', {
    changeScene:0,
    type: spuParams.value.id ? 'update' : 'add'
  })
}
// 重置spuParams数据
const resetSpuParams = () => {
  spuParams.value = {
    // id: 0,
    category3Id: '', // 手机三级分类的id
    spuName: '', //SPU的名称
    description: '', // SPU的描述
    tmId: '', // 品牌的id
    spuImageList: [], // 在售图片
    spuSaleAttrList: [], // spu的销售属性
  }
  ImgList.value = []
  saleAttrList.value = []
  unSelectAttr.value = ''
}
</script>

<style scoped lang="scss"></style>
