<template>
  <Category :scene="scene"></Category>
  <el-card style="margin-top: 10px">
    <div v-show="scene === 0">
      <el-button
        type="primary"
        icon="Plus"
        :disabled="!categoryStore.categoryId3"
        @click="handleToAddSpu"
      >
        添加SPU
      </el-button>
      <el-table border style="margin: 10px 0" :data="records">
        <el-table-column
          label="序号"
          align="center"
          type="index"
          width="60"
        ></el-table-column>
        <el-table-column label="SPU名称" prop="spuName"></el-table-column>
        <el-table-column label="SPU描述" prop="description"></el-table-column>
        <el-table-column label="操作">
          <template #default="{ row, $index }">
            <el-button
              type="primary"
              size="small"
              icon="Plus"
              @click="addSkuFn(row)"
              title="添加"
            ></el-button>
            <el-button
              type="success"
              size="small"
              icon="Edit"
              @click="handleToEditSpu(row)"
              title="修改"
            ></el-button>
            <el-button
              type="warning"
              size="small"
              icon="View"
              title="查看"
              @click="handleView(row)"
            ></el-button>
            <el-popconfirm
              :title="`您是否想要删除【${row.spuName}】?`"
              @confirm="confirmEvent(row)"
              @cancel="cancelEvent"
              width="200"
            >
              <template #reference>
                <el-button
                  type="danger"
                  size="small"
                  icon="Delete"
                  title="删除"
                ></el-button>
              </template>
            </el-popconfirm>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页  -->
      <el-pagination
        v-model:current-page="currentPage"
        v-model:page-size="pageSize"
        @current-change="getSpuByCategory3Id"
        @size-change="handleToSize"
        :page-sizes="[5, 10, 15, 20]"
        background
        layout=" prev, pager, next, jumper, ->,sizes,total"
        :total="total"
      />
    </div>
    <!--  sku属性添加  -->
    <formSku
      v-show="scene === 2"
      ref="skuRef"
      @changeScene="changeScene"
    ></formSku>
    <!--  spu新增或者编辑  -->
    <addEditSpu
      ref="addEditSpuRef"
      v-show="scene === 1"
      @changeScene="changeScene"
    ></addEditSpu>
  </el-card>
  <el-dialog v-model="dialogTableVisible" title="SKU列表">
    <el-table border :data="onSaleSpuData">
      <el-table-column prop="skuName" label="SKU名字" />
      <el-table-column prop="price" label="SKU价格" />
      <el-table-column prop="weight" label="SKU重量" />
      <el-table-column label="SKU图片" width="150">
        <template #="{ row, $index }">
          <img
            :src="row.skuDefaultImg"
            alt=""
            style="width: 150px; height: 150px"
          />
        </template>
      </el-table-column>
    </el-table>
  </el-dialog>
</template>

<script lang="ts" setup>
import { onBeforeUnmount, onMounted, ref, watch } from 'vue'
import {
  deleteSku,
  queryOnSaleSku,
  querySpuListByCategory3Id,
} from '@/api/product/spu'
import useCategoryStore from '@/store/modules/category'
import { ElMessage } from 'element-plus'
import addEditSpu from '@/view/product/spu/formSPU.vue'
import formSku from '@/view/product/spu/formSku.vue'
import { SpuData } from '@/api/product/spu/type'

defineOptions({
  name: 'Spu',
})
// 获取商品属性的仓库
let categoryStore = useCategoryStore()
// 用于场景切换 0：表格  1： 新增编辑spu  2： sku属性
let scene = ref<number>(0)
//  显示当前页数
let currentPage = ref<number>(1)
// 当前一页条数
let pageSize = ref<number>(5)
//  总 的条数
let total = ref(0)
//  spu商品属性的列表数据
let records = ref([])
//  子组件的ref
let addEditSpuRef = ref<any>()
//  自组加SKu的ref
let skuRef = ref<any>()
//  控制弹框是否展示
let dialogTableVisible = ref(false)
//  在售的Spu的列表
let onSaleSpuData = ref<SpuData[]>([])
//监听三级分类ID变化
watch(
  () => categoryStore.categoryId3,
  () => {
    if (!categoryStore.categoryId3) {
      return
    }
    getSpuByCategory3Id()
  },
)
// 挂载函数
onMounted(() => {
  getSpuByCategory3Id()
})
onBeforeUnmount(() => {
  categoryStore.$reset()
})
// ====================方法==================================
// 获取某个三级分类下的所有SPU属性
const getSpuByCategory3Id = async (page = 1) => {
  currentPage.value = page
  let res = await querySpuListByCategory3Id(
    currentPage.value,
    pageSize.value,
    categoryStore.categoryId3,
  )
  if (res.code !== 200) {
    ElMessage({
      type: 'error',
      message: res.message,
    })
    return
  }
  records.value = res.data.records
  total.value = res.data.total as number
}
//  更新每页数量
const handleToSize = () => {
  getSpuByCategory3Id()
}
//  点击添加SPU属性的回调事件
const handleToAddSpu = () => {
  scene.value = 1
  // 点击新增 调用子组件是事件
  addEditSpuRef.value.initAddSpuData(categoryStore.categoryId3)
}
//  点击编辑SPU属性的回调事件
const handleToEditSpu = (row: SpuData) => {
  scene.value = 1
  // 点击的时候调用 初始化子组件事件
  addEditSpuRef.value.initFormSpuData(row)
}
//  切换场景
const changeScene = ({ changeScene, type }) => {
  //  切换不同的场景
  scene.value = changeScene
  // 场景切换之后 再次刷新数据
  let page = type === 'update' ? currentPage.value : 1
  getSpuByCategory3Id(page)
}
//  添加一个新的 SKU
const addSkuFn = (row) => {
  //  切换不同的场景
  scene.value = 2
  //
  skuRef.value.initSkuData(
    categoryStore.categoryId1,
    categoryStore.categoryId2,
    row,
  )
}
//  查看在售商品
const handleView = async (row) => {
  let res = await queryOnSaleSku(row.id)
  if (res.code !== 200) {
    ElMessage.error('查询失败')
    return
  }
  onSaleSpuData.value = res.data
  dialogTableVisible.value = true
}
//  删除sku
const confirmEvent = async (row) => {
  let res = await deleteSku(row.id)
  if (res.code !== 200) {
    ElMessage.error('删除失败')
    return
  }
  //  删除成功后更新数据
  getSpuByCategory3Id(
    records.value.length > 1 ? currentPage.value : currentPage.value - 1,
  )
  ElMessage.success('删除成功')
}
//  删除的取消方法
const cancelEvent = () => {
  ElMessage.info('已取消')
}
</script>

<style lang="scss" scoped></style>
