<template>
  <div>
    <input type="file" @change="handleChange" />
    <button @click="handle2Upload">上传按钮</button>
    <hr>
    <button @click="handle2Test">测试并发</button>
  </div>
</template>

<script setup lang="ts">
import {
  getFileHash,
  sliceFile2chunk,
  createWait2UploadChunks,
} from './uploadUtils.js'
import { ref } from 'vue'
import {asyncPool, concurrencyRequest} from './promiseAll.js'

const uploadFile = ref(null)

const handleChange = (e) => {
  const file = e.target.files[0]
  if (!file) return
  uploadFile.value = file
}

const handle2Upload = async () => {
  let fileChunks = sliceFile2chunk(uploadFile.value)
  console.log(uploadFile.value, fileChunks)
  const fileHash = await getFileHash(uploadFile.value)
  const res = await apiGetUploadState(fileHash, uploadFile.value?.name)
  // 入参是 3.2 得到的response， 出参事最终需要上传的分片
  const wait2UploadChunks = createWait2UploadChunks(res, fileChunks)
}

//  判断服务器请求的文件的初始状态，0：未上传，1：上传部分，2：上传完成
const apiGetUploadState = async (fileHash, fileName) => {
  const fileInfo = new FormData()
  fileInfo.append('fileHash', fileHash)
  fileInfo.append('fileName', fileName)
  return { data: { status: 1 } }
  // const res = await fetch('http://localhost:3000/api/getUploadState', {})
  //   .then((res) => res.json())
  //   .then((res) => {
  //     console.log(res)
  //   })
}


const handle2Test = async () => {
  // const urls = [];
  // for (let i = 1; i <= 20; i++) {
  //   urls.push(`https://jsonplaceholder.typicode.com/todos/${i}`);
  // }
  // concurrencyRequest(urls, 3).then(res => {
  //   console.log(res);
  // })
  let urls = Array(10).fill(0).map((v,i) => i);
  const res = await asyncPool(3, urls, curl);
}



const curl = (i) => {
  console.log('开始' + i);
  return new Promise((resolve) => setTimeout(() => {
    resolve(i);
    console.log('结束' + i);
  }, 1000+Math.random()*1000));
};



</script>

<style scoped></style>
