<template>
    <el-form
        :ref="formRef"
        :model="formRef"
        v-bind="$attrs"
        label-width="120px"
    >
      <template v-for="item in formItems"  :key="item.key">
        <el-form-item
          v-if="item._isShow"
          :label="item.title"
          :prop="item.key"
          :key="item.key"
          :value="item.key"
        >
          <component :is="item.type" v-bind="item.props" v-model="formRef[item.key]" :options="item.options" />
        </el-form-item>
      </template>
    </el-form>
</template>

<script setup lang="ts" name="MyForm">
import {computed, reactive, ref, watch} from "vue";
import {computedFormItem} from "@/view/myTest/encapsulatedComponents/myForm/core";
// 初始化form
const formRef: any = reactive<HTMLFormElement | any>(initConfig())
//  配置项
const props = defineProps({
  config: {
    type: Array,
    default: () => {
      return []
    }
  }
})



// 初始化处理每行属性，已经联动问题
const formItems = computed(() => {
  return props.config?.map(item => computedFormItem(item, formRef))
})


// 初始化ref
function initConfig (){
  const form = {}
  props.config?.forEach(item => {
    form[item.key] = item.defaultValue
  })
  return form
}



</script>

<style lang="scss" scoped>

</style>