<template>
  <div>
    <myForm :config="config"></myForm>
  </div>
</template>

<script setup lang="ts" name="TestMyForm">
import MyForm from './index.vue'

// 配置
const config = [
  { title: "用户名", key: "username" },
  { title: "年龄", key: "age", type: "inputNumber" },
  { title: "性别", key: "sex", type: "radio", options: [
      {
        label: "男",
        value: 1,
      },
      {
        label: "女",
        value: 2
      }
    ] },
  { title: "喜欢的颜色", key: "color", isShow: ({sex}) => sex === "女"},
  { title: "爱好", key: "hobby", type: "checkbox", options: [
      {
        label: "吃饭",
        value: 1
      },
      {
        label: "睡觉",
        value: 2
      },
      {
        label: "打豆豆",
        value: 3
      }
    ] },
]

</script>

<style lang="scss" scoped>

</style>