<template>
  <el-card>
    <el-form :inline="true" class="eltitle">
      <el-form-item label="职位搜索">
        <el-input
          placeholder="请输入搜索用户名称"
          v-model.trim="searchKey"
        ></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="search" :disabled="!searchKey">
          搜索
        </el-button>
        <el-button @click="resetPage">重置</el-button>
      </el-form-item>
    </el-form>
  </el-card>
  <!-- 下方表格数据 -->
  <el-card style="margin: 10px 0">
    <el-button type="primary" @click="handleAddRole" icon="Plus">
      添加职位
    </el-button>
    <el-table
      border
      :show-overflow-tooltip="true"
      :data="roleListData"
      style="margin: 10px 0"
    >
      <el-table-column
        type="index"
        width="80"
        align="center"
        label="#"
      ></el-table-column>
      <el-table-column align="center" label="Id" prop="id"></el-table-column>
      <el-table-column
        align="center"
        label="角色名称"
        prop="roleName"
        show-overflow-tooltip
      ></el-table-column>
      <el-table-column
        align="center"
        label="创建时间"
        prop="createTime"
        show-overflow-tooltip
      ></el-table-column>
      <el-table-column
        align="center"
        label="更新时间"
        prop="updateTime"
        show-overflow-tooltip
      ></el-table-column>
      <el-table-column align="center" label="操作" width="300">
        <template #default="{ row, $index }">
          <el-button
            type="primary"
            size="small"
            icon="User"
            @click="handleAssignRole(row)"
          >
            分配权限
          </el-button>
          <el-button
            type="success"
            size="small"
            icon="Edit"
            @click="handleEdit(row)"
          >
            编辑
          </el-button>
          <el-popconfirm
            :title="`是否要删除【${row.roleName}】?`"
            @confirm="handleDelRole(row)"
            width="200px"
          >
            <template #reference>
              <el-button type="danger" size="small" icon="Delete">
                删除
              </el-button>
            </template>
          </el-popconfirm>
        </template>
      </el-table-column>
    </el-table>
    <!-- 分页   -->
    <el-pagination
      background
      style="margin: 10px 0"
      v-model:current-page="currentPage"
      v-model:page-size="pageSize"
      :page-sizes="[10, 20, 30, 40]"
      layout="prev, pager, next, jumper, ->, sizes, total"
      :total="total"
      @size-change="handleSizeChange"
      @current-change="queryData"
    />
  </el-card>
  <!-- 新增|编辑弹框  -->
  <el-dialog
    v-model="dialogVisible"
    :title="selectRole.id ? '修改职位' : '添加职位'"
    width="40%"
  >
    <el-form :model="selectRole" :rules="rules" ref="formAddEdit">
      <el-form-item label=" 角色名称" prop="roleName">
        <el-input
          style="margin-left: 10px"
          v-model="selectRole.roleName"
          placeholder="请填写角色名称"
        ></el-input>
      </el-form-item>
    </el-form>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="dialogVisible = false">取消</el-button>
        <el-button type="primary" @click="confirmDialogAddEdit">确认</el-button>
      </span>
    </template>
  </el-dialog>
  <!-- 角色权限弹出层 -->
  <el-drawer v-model="isShowDrawer">
    <template #header>
      <h4>分配菜单和按钮的权限</h4>
    </template>
    <!--        :default-expanded-keys="[1, 3]"-->
    <template #default>
      <el-tree
        :data="menuArr"
        show-checkbox
        node-key="id"
        ref="treeMenuRef"
        default-expand-all
        :default-checked-keys="selectMenuArr"
        :props="defaultProps"
      />
    </template>
    <template #footer>
      <div style="flex: auto">
        <el-button @click="cancelAssigned">取消</el-button>
        <el-button type="primary" @click="confirmAssigned">确认</el-button>
      </div>
    </template>
  </el-drawer>
</template>

<script lang="ts" setup>
import { nextTick, onMounted, reactive, ref } from 'vue'
import {
  queryRoleList,
  reqAddEditRole,
  reqDelRole,
  reqGetRoleByRoleId,
  reqSetPermission,
} from '@/api/acl/role'
import {
  basepermission,
  permissionListResponse,
  roleList,
  roleListResponse,
} from '@/api/acl/role/type'
import { ElMessage } from 'element-plus'
import useLayOutSettingStore from '@/store/modules/setting'

defineOptions({
  name: 'Role',
})
//  应用设置小仓库
let layOutSettingStore = useLayOutSettingStore()
// 搜索关键字
let searchKey = ref('')
// 表格展示数据
let roleListData = ref<roleList>([])
// 页码
let currentPage = ref<number>(1)
// 每页数量
let pageSize = ref<number>(10)
// 列表总数
let total = ref<number>(0)
// 展示添加|编辑弹框
let dialogVisible = ref<boolean>(false)
// 挑选的某一列的数据
let selectRole = reactive({
  id: '',
  roleName: '',
})
// 是否展示抽屉
let isShowDrawer = ref<boolean>(false)
//  获取弹框组件实例
let formAddEdit = ref()
//  定义数组存储菜单权限
let menuArr = ref<basepermission[]>([])
//  定义一个数组  存储挑选的菜单权限
let selectMenuArr = ref<number[]>([])
//  获取树形菜单实例
let treeMenuRef = ref()
// 周期函数
onMounted(() => {
  queryData()
})
//  ==========================方法========================
// 权限菜单取消事件
const cancelAssigned = () => {
  isShowDrawer.value = false
}
// 角色校验
const validateRoleName = (rule: any, value: any, callback: any) => {
  if (value.trim().length >= 2) {
    callback()
  } else {
    callback(new Error('用户职位至少2位'))
  }
}
// 表单数据的校验规则
const rules = {
  roleName: [{ required: true, validator: validateRoleName, trigger: 'blur' }],
}
//  重置数据
const resetData = () => {
  const temp = { id: '', roleName: '' }
  Object.keys(selectRole).map((it) => {
    if (!(it in temp)) {
      delete selectRole[it]
    }
  })
  Object.assign(selectRole, temp)
  // 清空上一次的校验规则
  nextTick(() => {
    formAddEdit.value?.clearValidate(['roleName'])
  })
  menuArr.value = []
  selectMenuArr.value = []
}
//  搜索
const search = () => {
  queryData()
}
// 重置
const resetPage = () => {
  layOutSettingStore.refresh = !layOutSettingStore.refresh
}
// 添加角色
const handleAddRole = () => {
  // 重置数据
  resetData()
  dialogVisible.value = true
}
//  删除角色
const handleDelRole = async (row) => {
  let res = await reqDelRole(row.id)
  if (res.code !== 200) {
    ElMessage.error('删除失败')
    return
  }
  ElMessage.success('删除成功')
  queryData(roleListData.value.length > 1 ? currentPage.value : 1)
}
//  编辑按钮回调
const handleEdit = (role) => {
  // 重置数据
  resetData()
  Object.assign(selectRole, role)
  dialogVisible.value = true
}
//  新增|编辑确认按钮
const confirmDialogAddEdit = async () => {
  await formAddEdit.value.validate()
  let { id, roleName } = selectRole
  let res = await reqAddEditRole(
    selectRole.id ? { id, roleName } : { roleName },
  )
  if (res.code !== 200) {
    ElMessage.error(selectRole.id ? '编辑失败' : '新增失败')
    dialogVisible.value = false
    return
  }
  await queryData(selectRole.id ? currentPage.value : 1)
  ElMessage.success(selectRole.id ? '编辑成功' : '新增成功')
  dialogVisible.value = false
}
// 每页数量变化
const handleSizeChange = () => {
  queryData()
}
// 查询数据
const queryData = async (page = 1) => {
  currentPage.value = page
  let res: roleListResponse = await queryRoleList(
    currentPage.value,
    pageSize.value,
    searchKey.value,
  )
  if (res.code !== 200) {
    ElMessage.error('查询失败')
    return
  }
  roleListData.value = res.data.records
  total.value = res.data.total
}
//  分配角色按钮回调
const handleAssignRole = async (row) => {
  resetData()
  Object.assign(selectRole, row)
  // 获取所有菜单权限数据
  let res: permissionListResponse = await reqGetRoleByRoleId(selectRole.id)
  if (res.code !== 200) {
    ElMessage.error('数据查询失败！')
    return
  }
  menuArr.value = res.data
  //  讲已选择的展示出来
  selectMenuArr.value = filterSelectMenuArr(menuArr.value, [])
  isShowDrawer.value = true
}
//  树形弹框 保存按钮的回调
const confirmAssigned = async () => {
  let arr = [
    ...treeMenuRef.value.getCheckedKeys(),
    ...treeMenuRef.value.getHalfCheckedKeys(),
  ]
  let res = await reqSetPermission(selectRole.id, arr)
  if (res.code !== 200) {
    ElMessage.error('修改失败！！！')
    return
  }
  ElMessage.success('权限分配成功！！！')
  isShowDrawer.value = false
  window.location.reload()
}
//  过滤树形解构 挑选的终极数组
const filterSelectMenuArr = (data: basepermission[], res: number[]) => {
  data.map((it, idx) => {
    if (!it.children.length && it.select) {
      res.push(it.id as number)
      // res = [...res, it.id as number]
    }
    if (it.children && it.children.length) {
      filterSelectMenuArr(it.children, res)
    }
  })
  return res
}
//  设置树形结构的关键值
const defaultProps = {
  children: 'children',
  label: 'name',
}
</script>

<style lang="scss" scoped>
.eltitle {
  display: flex;
  justify-content: space-between;
  height: 30px;
}
</style>
