<template>
  <svg :style="{ width, height }">
    <use :xlink:href="prefix + name" :fill="color"></use>
  </svg>
</template>

<script lang="ts" setup>
const prop = defineProps({
  prefix: {
    type: String,
    default: '#icon-',
  },
  // 提供需要使用的图标名字
  name: String,
  // 接受父组件传递颜色
  color: {
    type: String,
    default: '',
  },
  // 接受父组件的宽度
  width: {
    type: String,
    default: '16px',
  },
  height: {
    type: String,
    default: '16px',
  },
})
// console.log(`${prop.prefix + prop.name}`)
</script>

<style lang="scss" scoped></style>
