<template>
  <div class="map" ref="mymap">map</div>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue'
import chinaJson from './china.json'
import * as echarts from 'echarts'
defineOptions({
  name: 'Screen_Map',
})
let mymap = ref()
// 注册中国地图
echarts.registerMap('china', chinaJson)
onMounted(() => {
  let mapOption = echarts.init(mymap.value)
  mapOption.setOption({
    geo: {
      map: 'china', // 地图名称
      roam: true, // 是否能够缩放
      left: 50,
      right: 50,
      top: 100,
      bottom: 0,
      //  地图上文字的设置
      label: {
        show: true,
        color: '#fff',
      },
      // 每个多边形样式
      itemStyle: {
        color: 'skyblue',
      },
      //   高亮显示
      emphasis: {
        label: {
          show: true,
          color: '#000',
          fontSize: '40px',
        },
        // 每个多边形样式
        itemStyle: {
          color: 'pink',
        },
      },
    },
    // 布局设置
    grid: {
      left: 0,
      right: 0,
      top: 0,
      bottom: 0,
    },
    series: [
      {
        type: 'lines',
        polyline: true,
        data: [
          {
            coords: [
              [117.349227, 40.136513], // 起点
              [82.981661, 35.599922], // 终点
            ],
            // 统一的样式设置
            lineStyle: {
              color: 'grey',
              width: 2,
            },
          },
          {
            coords: [
              [113.936307, 37.922993],
              [119.306239, 26.075302],
            ],
            // 统一的样式设置
            lineStyle: {
              color: 'grey',
              width: 2,
            },
          },
          {
            coords: [
              [114.502461, 38.045474],
              [117.000923, 36.675807],
            ],
            // 统一的样式设置
            lineStyle: {
              color: 'grey',
              width: 2,
            },
          },
          {
            coords: [
              [110.33119, 20.031971],
              [91.132212, 29.660361],
            ],
            // 统一的样式设置
            lineStyle: {
              color: 'grey',
              width: 2,
            },
          },
          {
            coords: [
              [104.065735, 30.659462],
              [115.892151, 28.676493],
            ],
            // 统一的样式设置
            lineStyle: {
              color: 'grey',
              width: 2,
            },
          },
          {
            coords: [
              [113.665412, 34.757975],
              [121.472644, 31.231706],
            ],
            // 统一的样式设置
            lineStyle: {
              color: 'grey',
              width: 2,
            },
          },
        ],
        effect: {
          show: true,
          symbolSize: 20,
          symbol: 'arrow',
          color: 'pink',
          trailLength: 0.1,
        },
      },
    ],
  })
})
</script>

<style lang="scss" scoped>
.map {
  width: 100%;
  height: 1040px;
}
</style>
