<template>
  <div class="login_container">
    <el-row>
      <el-col :span="12" :xs="0"></el-col>
      <el-col :span="12" :xs="24">
        <!-- 登录的表单 -->
        <el-form
          class="login_form"
          :model="loginForms"
          :rules="rules"
          ref="refloginForm"
        >
          <h1>Hello</h1>
          <h2>欢迎来到硅谷甄选</h2>
          <el-form-item prop="username">
            <el-input
              :prefix-icon="User"
              v-model="loginForms.username"
            ></el-input>
          </el-form-item>
          <el-form-item prop="password">
            <el-input
              type="password"
              :prefix-icon="Lock"
              v-model="loginForms.password"
              show-password
            ></el-input>
          </el-form-item>
          <el-form-item>
            <el-button
              :loading="loading"
              class="login_btn"
              type="primary"
              size="default"
              @click="login(loginForms)"
            >
              登录
            </el-button>
          </el-form-item>
        </el-form>
      </el-col>
    </el-row>
  </div>
</template>

<script lang="ts" setup>
defineOptions({
  name: 'Login',
})
import { User, Lock } from '@element-plus/icons-vue'
import { reactive, ref } from 'vue'
// import { useRoute, useRouter } from 'vue-router'
import type { loginForm } from '@/api/user/userTypes'
import useUserStore from '@/store/modules/user'
//  引入路由
import { useRoute, useRouter } from 'vue-router'
//  用户的提示信息
import { ElNotification } from 'element-plus'
import { getTime } from '@/utils/times'
import { FormInstance, FormRules } from 'element-plus'
const refloginForm = ref<FormInstance>()
let $router = useRouter()
let $route = useRoute()
let userStore = useUserStore()

let loginForms = reactive({
  username: 'admin',
  password: 'atguigu123',
})
let loading = ref(false)

//  登录
const login = async (loginForms: loginForm) => {
  // 校验
  await refloginForm.value.validate()
  loading.value = true
  await userStore
    .userLogin(loginForms)
    .then(() => {
      //  获取路由上的重定向，判断是从哪跳回来的
      let redirect: any = $route.query.redirect
      $router.push({ path: redirect || '/' })

      ElNotification({
        type: 'success',
        message: '欢迎回来！',
        title: `HI, ${getTime()}好`,
      })
      loading.value = false
    })
    .catch((err) => {
      ElNotification({
        type: 'error',
        message: (err as Error).message,
      })
      loading.value = false
    })
}
//  校验用户姓名
const validateUserName = (rule: any, value: any, callback: any) => {
  if (value.length < 5) {
    callback(new Error('账户的信息至少为6位'))
  } else {
    callback()
  }
  // let reg = RegExp(/^\d{5,10}$/)
  // if (reg.test(value)) {
  //   callback()
  // } else {
  //   callback(new Error('账户的信息至少为6位'))
  // }
}
// 表单校验规则
const rules = reactive<FormRules>({
  // username: [{ required: true, min: 5, max: 10, message: '账户的信息至少为6位', trigger: 'change' }],
  username: [{ validator: validateUserName, trigger: 'change' }],
  password: [
    { min: 6, max: 15, message: '密码长度至少为6位', trigger: 'blur' },
  ],
})
</script>

<style lang="scss" scoped>
.login_container {
  width: 100%;
  height: 100vh;
  background: url('@/assets/images/background.jpg') no-repeat;
  background-size: cover;

  .login_form {
    position: relative;
    width: 80%;
    top: 30vh;
    background: url('@/assets/images/login_form.png') no-repeat;
    background-size: cover;
    padding: 40px;

    h1 {
      color: white;
      font-size: 40px;
    }

    h2 {
      font-size: 20px;
      color: white;
      margin: 20px 0px;
    }

    .login_btn {
      width: 100%;
    }
  }
}
</style>
