<script setup lang="ts" name="MyButton">
import {ref} from "vue";

// props
const props = defineProps({
  time: {
    type: Number,
    default: 1000
  },
  tip: {
    type: String,
    default: ''
  },
  placement: {
    type: String,
    default: 'top'
  },
  tipProps: {
    type: Object,
    default: () => ({})
  }
})

// 抛出事件
const emit = defineEmits(['click'])

// 定义变量
const refTime = ref(0)

// 定义方法
const handleToClick = () => {
  let newDate = new Date().getTime()
  if(newDate - refTime.value < props.time) {
    emit('click')
  }
  refTime.value = new Date().getTime()
}


</script>

<template>
<div>
  <el-tooltip v-if="tip" :content="tip" :placement="placement" class="t-button-tip" :props="tipProps">
    <el-button v-bind="$attrs" class="button-tip" @click="handleToClick">
      <slot />
    </el-button>
  </el-tooltip>
  <el-button v-else v-bind="$attrs" @click="handleToClick">
    <slot />
  </el-button>
</div>
</template>

<style scoped lang="scss">
.t-button-tip {
  padding: 0;
  height: auto;
}
.t-button-tip:hover,
.t-button-tip:focus {
  animation: jump 0.3s;
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}
</style>