<script setup lang="ts">
import MyButton from './index.vue'

</script>

<template>
  <MyButton size="small" type="success" tip="这是一个安静的晚上" placement="bottom" >按钮</MyButton>
</template>

<style scoped lang="scss">

</style>