<template>
  <div class="box">
    <img src="@/assets/images/error_images/404.png" alt="" />
    <el-button
      class="btn"
      type="primary"
      size="large"
      icon="Back"
      @click="$router.push('/home')"
    >
      返回首页
    </el-button>
  </div>
</template>

<script lang="ts" setup>
import { useRouter } from 'vue-router'
let $router = useRouter()
defineOptions({
  name: '404',
})
</script>

<style lang="scss" scoped>
.box {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  img {
    margin: 0 auto;
    width: 800px;
    height: 400px;
  }
  .btn {
    position: absolute;
    bottom: 20vh;
    right: 20vw;
  }
}
</style>
