<template>
  <div>
    <TestMyForm></TestMyForm>
  </div>
</template>

<script setup lang="ts">
import TestMyForm from "@/view/myTest/encapsulatedComponents/myForm/testMyForm.vue";

</script>

<style lang="scss" scoped>

</style>