<template>
<!--  default-expand-all-->
  <el-table
    :data="permissionList"
    style="width: 100%; margin-bottom: 20px"
    row-key="id"
    border
  >
    <el-table-column prop="name" label="名称"></el-table-column>
    <el-table-column prop="code" label="权限值"></el-table-column>
    <el-table-column prop="updateTime" label="修改时间"></el-table-column>
    <el-table-column label="操作">
      <template #default="{ row, $index }">
        <el-button
          size="small"
          :type="row.level === 3 ? 'success' : 'primary'"
          @click="handleAddMenu(row)"
          :disabled="row.level === 4"
        >
          {{ row.level && row.level == 3 ? '添加功能' : '添加菜单' }}
        </el-button>
        <el-button
          type="primary"
          @click="handleEditMenu(row)"
          size="small"
          :disabled="row.level === 1"
        >
          编辑
        </el-button>
        <el-popconfirm
          @confirm="handleDelMenu(row)"
          :title="`是否删除菜单【${row.name}】?`"
        >
          <template #reference>
            <el-button type="primary" size="small" :disabled="row.level === 1">
              删除
            </el-button>
          </template>
        </el-popconfirm>
      </template>
    </el-table-column>
  </el-table>
  <!-- 编辑和添加的弹窗  -->
  <el-dialog
    v-model="dialogFormVisible"
    width="30%"
    :title="menuParam.id ? '更新菜单' : '添加菜单'"
  >
    <el-form label-width="80" :model="menuParam">
      <el-form-item label="名称">
        <el-input placeholder="请输入名称" v-model="menuParam.name"></el-input>
      </el-form-item>
      <el-form-item label="权限值">
        <el-input
          placeholder="请输入权限值"
          v-model="menuParam.code"
        ></el-input>
      </el-form-item>
    </el-form>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取消</el-button>
        <el-button type="primary" @click="confirm">确认</el-button>
      </span>
    </template>
  </el-dialog>
</template>

<script lang="ts" setup>
import { nextTick, onMounted, reactive, ref } from 'vue'
import { queryMenuList, reqAddAndEdit, reqDelMenu } from '@/api/acl/permission'
import { ElMessage } from 'element-plus'
import { baseMenu, reqMenuListResponse } from '@/api/acl/permission/type.ts'

defineOptions({
  name: 'permission',
})
// 菜单权限数据
let permissionList = ref<baseMenu[]>([])
//  展示编辑 删除弹框
let dialogFormVisible = ref<boolean>(false)
//  选中的修改项
let menuParam = reactive({
  id: 0,
  code: '', // 权限值
  level: -1, // 菜单等级
  name: '', // 名称
  pid: -1, // 菜单id
})
// 周期函数
onMounted(() => {
  queryAllMenuLis()
})
// ========================方法============
// 重置数据
const resetData = () => {
  const temp = {
    id: 0,
    code: '', // 权限值
    level: -1, // 菜单等级
    name: '', // 名称
    pid: -1, // 菜单id
  }
  Object.keys(menuParam).map((it) => {
    if (!(it in temp)) {
      delete menuParam[it]
    }
  })
  Object.assign(menuParam, temp)
}
// 获取菜单权限的所有数据
const queryAllMenuLis = async () => {
  let res: reqMenuListResponse = await queryMenuList()
  if (res.code !== 200) {
    ElMessage.error('获取数据失败')
    return
  }
  permissionList.value = res.data
}
//  添加菜单调用弹框
const handleAddMenu = (row) => {
  resetData()
  menuParam.level = row.level + 1
  menuParam.pid = row.id
  dialogFormVisible.value = true
}
// 编辑
const handleEditMenu = (row: baseMenu) => {
  resetData()

  Object.assign(menuParam, row)
  dialogFormVisible.value = true
}
// 确认
const confirm = async () => {
  let res = await reqAddAndEdit(menuParam)
  if (res.code !== 200) {
    ElMessage.error(menuParam.id ? '修改失败' : '新增失败')
    dialogFormVisible.value = false
    return
  }
  ElMessage.success(menuParam.id ? '修改成功' : '新增成功')
  await queryAllMenuLis()
  dialogFormVisible.value = false
}
// 删除某一菜单那
const handleDelMenu = async (row) => {
  let res = await reqDelMenu(row.id)
  if (res.code !== 200) {
    ElMessage.error('删除数据失败')
    return
  }
  ElMessage.success('删除成功')
  await queryAllMenuLis()
}
</script>

<style lang="scss" scoped></style>
