<template>
  <div class="line">
    <div class="title">
      <p>未来30天游客趋势图</p>
      <img src="../../images/dataScreen-title.png" alt="" />
    </div>
    <!-- 图   -->
    <div class="chart" ref="chart"></div>
  </div>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue'
import * as echarts from 'echarts'
defineOptions({
  name: 'Screen_Line',
})
let chart = ref()
onMounted(() => {
  let mapOption = echarts.init(chart.value)
  mapOption.setOption({
    title: {
      text: '游客访问量',
    },
    xAxis: {
      type: 'category',
      boundaryGap: false,
      splitLine: {
        show: false,
      },
      axisLine: {
        show: true,
      },
      axisTick: {
        show: true,
      },
      data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日'],
    },
    yAxis: {
      splitLine: {
        show: false,
      },
      axisLine: {
        show: true,
      },
      axisTick: {
        show: true,
      },
    },
    grid: {
      left: 40,
      right: 0,
      top: 0,
      bottom: 40,
    },
    series: [
      {
        type: 'line',
        data: [200, 3390, 600, 6780, 1100, 8670, 6789],
        smooth: true,
        areaStyle: {
          color: {
            type: 'linear',
            x: 0,
            y: 0,
            x2: 0,
            y2: 1,
            colorStops: [
              {
                offset: 0,
                color: 'cyan', // 0% 处的颜色
              },
              {
                offset: 1,
                color: 'pink', // 100% 处的颜色
              },
            ],
            global: false, // 缺省为 false
          },
        },
      },
    ],
  })
})
</script>

<style lang="scss" scoped>
.line {
  height: 100%;
  width: 100%;
  background: url('../../images/dataScreen-main-cb.png') no-repeat;
  background-size: 100% 100%;
  margin-top: 10px;
  .title {
    color: white;
    margin-left: 15px;
    font-size: 20px;
    img {
      width: 68px;
      height: 7px;
    }
  }
  .chart {
    margin-top: 30px;
    width: 100%;
    height: 200px;
  }
}
</style>
