<template>
  <el-card>
    <el-form :inline="true" class="eltitle">
      <el-form-item label="用户名:">
        <el-input
          placeholder="请输入搜索用户名"
          v-model.trim="searchKey"
        ></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="search" :disabled="!searchKey">
          搜索
        </el-button>
        <el-button type="primary" @click="resetPage">重置</el-button>
      </el-form-item>
    </el-form>
  </el-card>
  <el-card style="margin: 10px 0">
    <el-button type="primary" @click="handleAddUser">添加用户</el-button>
    <el-button
      type="danger"
      @click="handleBatchDelRole"
      :disabled="!BatchDelList.length"
    >
      批量删除
    </el-button>
    <el-table
      border
      :show-overflow-tooltip="true"
      :data="UserListData"
      style="margin: 10px 0"
      @selection-change="selectTableRole"
    >
      <el-table-column
        type="selection"
        width="80"
        align="center"
      ></el-table-column>
      <el-table-column label="#" type="index"></el-table-column>
      <el-table-column prop="id" label="ID"></el-table-column>
      <el-table-column
        prop="username"
        show-overflow-tooltip
        label="用户名字"
      ></el-table-column>
      <el-table-column
        prop="name"
        show-overflow-tooltip
        label="用户名称"
      ></el-table-column>
      <el-table-column
        prop="roleName"
        show-overflow-tooltip
        label="用户角色"
      ></el-table-column>
      <el-table-column
        prop="createTime"
        show-overflow-tooltip
        label="创建时间"
      ></el-table-column>
      <el-table-column
        prop="updateTime"
        show-overflow-tooltip
        label="修改时间"
      ></el-table-column>
      <el-table-column label="操作" width="270">
        <template #default="{ row, $index }">
          <el-button
            type="primary"
            size="small"
            icon="User"
            @click="handleAssigned(row)"
          >
            分配角色
          </el-button>
          <el-button
            type="primary"
            size="small"
            icon="Edit"
            @click="handleEdit(row)"
          >
            编辑
          </el-button>
          <el-popconfirm
            :title="`您是否想要删除【${row.username}】?`"
            @confirm="handleDeleteRole(row)"
            width="200"
          >
            <template #reference>
              <el-button type="primary" size="small" icon="Delete">
                删除
              </el-button>
            </template>
          </el-popconfirm>
        </template>
      </el-table-column>
    </el-table>
    <!-- 分页   -->
    <el-pagination
      background
      style="margin: 10px 0"
      v-model:current-page="currentPage"
      v-model:page-size="pageSize"
      :page-sizes="[10, 20, 30, 40]"
      layout="prev, pager, next, jumper, ->, sizes, total"
      :total="total"
      @size-change="handleSizeChange"
      @current-change="queryUserListData"
    />
  </el-card>
  <!--  弹出层  -->
  <el-drawer v-model="isShowDrawer">
    <template #header>
      <h4>{{ userParams.id ? '修改用户' : '添加用户' }}</h4>
    </template>
    <template #default="{ row, $index }">
      <el-form :model="userParams" :rules="rules" ref="ruleFormRef">
        <el-form-item label="用户姓名" prop="username">
          <el-input
            placeholder="请填写用户名字"
            v-model="userParams.username"
          ></el-input>
        </el-form-item>
        <el-form-item label="用户昵称" prop="name">
          <el-input
            placeholder="请填写用户昵称"
            v-model="userParams.name"
          ></el-input>
        </el-form-item>
        <el-form-item v-if="!userParams.id" label="用户密码" prop="password">
          <el-input
            placeholder="请填写用户密码"
            v-model="userParams.password"
          ></el-input>
        </el-form-item>
      </el-form>
    </template>
    <template #footer>
      <div style="flex: auto">
        <el-button @click="cancelClick">取消</el-button>
        <el-button type="primary" @click="confirmClick">确认</el-button>
      </div>
    </template>
  </el-drawer>
  <!-- 分配角色弹出层 -->
  <el-drawer v-model="isShowAssignedDrawer">
    <template #header>
      <h4>分配角色用户（职位）</h4>
    </template>
    <template #default="{ row, $index }">
      <el-form :model="userParams">
        <el-form-item label="用户姓名" prop="username">
          <el-input
            :disabled="true"
            placeholder="请填写用户名字"
            v-model="userParams.username"
          ></el-input>
        </el-form-item>
        <el-form-item label="用户列表">
          <el-checkbox
            v-model="checkAll"
            :indeterminate="isIndeterminate"
            @change="handleCheckAllChange"
          >
            全 选
          </el-checkbox>
          <el-checkbox-group
            v-model="selectedRole"
            @change="handleCheckedCitiesChange"
          >
            <el-checkbox v-for="role in allRole" :key="role.id" :label="role">
              {{ role.roleName }}
            </el-checkbox>
          </el-checkbox-group>
        </el-form-item>
      </el-form>
    </template>
    <template #footer>
      <div style="flex: auto">
        <el-button @click="cancelAssigned">取消</el-button>
        <el-button type="primary" @click="confirmAssigned">确认</el-button>
      </div>
    </template>
  </el-drawer>
</template>

<script lang="ts" setup>
import { nextTick, onMounted, reactive, ref } from 'vue'
import {
  addAndUpdateUserInfo,
  assignedRole,
  batchDeleteRole,
  deleteRole,
  queryRoleListByAdminId,
  queryUserList,
} from '@/api/acl/user'
import { ElMessage, FormInstance } from 'element-plus'
import { setRoleData } from '@/api/acl/user/type'
import useLayOutSettingStore from '@/store/modules/setting'

defineOptions({
  name: 'User',
})
//  应用设置小仓库
let layOutSettingStore = useLayOutSettingStore()
// 当前页码
let currentPage = ref(1)
// 每页数量
let pageSize = ref(10)
// 总数量
let total = ref(0)
// 搜索关键字
let searchKey = ref('')
// 展示弹出层
let isShowDrawer = ref<boolean>(false)
// 展示分配角色弹出层
let isShowAssignedDrawer = ref<boolean>(false)
// 所有的用户信息
let UserListData = ref([])
//  手机用户数据
let userParams = reactive({
  username: '',
  name: '',
  password: '',
})
// 表单实例
const ruleFormRef = ref<FormInstance>()
// 是否全选
const checkAll = ref(false)
// 展示中间状态
const isIndeterminate = ref(true)
// 选中的角色
const selectedRole = ref([])
// 全部的角色数据
const allRole = ref([])
// 批量删除准备数组
const BatchDelList = ref([])
// 周期函数
onMounted(() => {
  queryUserListData()
})
// =============方法==================
// 校验用户名字的
const validateUsername = (rule: any, value: any, callback: any) => {
  if (value.trim().length >= 5) {
    callback()
  } else {
    callback(new Error('用户名字至少5位'))
  }
}
// 校验用户昵称
const validateName = (rule: any, value: any, callback: any) => {
  if (value.trim().length >= 5) {
    callback()
  } else {
    callback(new Error('用户昵称至少5位'))
  }
}
// 校验用户密码
const validatePassword = (rule: any, value: any, callback: any) => {
  if (value.trim().length >= 6) {
    callback()
  } else {
    callback(new Error('用户密码至少6位'))
  }
}
// 表单数据的校验规则
const rules = {
  username: [{ required: true, validator: validateUsername, trigger: 'blur' }],
  name: [{ required: true, validator: validateName, trigger: 'blur' }],
  password: [{ required: true, validator: validatePassword, trigger: 'blur' }],
}
// 重置数据
const resetUserParams = () => {
  const temp = { username: '', name: '', password: '' }
  Object.keys(userParams).map((it) => {
    if (!(it in temp)) {
      delete userParams[it]
    }
  })
  Object.assign(userParams, temp)
  // 清空上一次的校验规则
  nextTick(() => {
    ruleFormRef.value?.clearValidate(['username', 'name', 'password'])
  })
  // 清空角色分配数组数据
  Object.assign(allRole, [])
  Object.assign(selectedRole, [])
}
// 添加用户回调
const handleAddUser = () => {
  resetUserParams()
  isShowDrawer.value = true
}
// 获取所有的用户信息
const queryUserListData = async (page = 1) => {
  currentPage.value = page
  let res: queryUserList = await queryUserList(
    currentPage.value,
    pageSize.value,
    searchKey.value,
  )
  if (res.code !== 200) {
    ElMessage.error('数据获取失败!')
    return
  }
  UserListData.value = res.data.records
  total.value = res.data.total
}
// 页码变化
const handleSizeChange = () => {
  queryUserListData()
}
//  抽屉取消回调
const cancelClick = () => {
  isShowDrawer.value = false
}
//  抽屉确认回调
const confirmClick = async () => {
  await ruleFormRef.value?.validate()
  const res = await addAndUpdateUserInfo(userParams)
  if (res.code !== 200) {
    ElMessage.error(userParams.id ? '更新失败' : '添加失败')
    isShowDrawer.value = false
    return
  }
  ElMessage.success(userParams.id ? '更新成功' : '添加成功')
  //  添加|修改成功之后
  // await queryUserListData()
  //  如果修改的是当前登录的账户 那么需要重新登录
  window.location.reload()
  isShowDrawer.value = false
}
//  编辑回调
const handleEdit = (row) => {
  resetUserParams()
  Object.assign(userParams, row)
  isShowDrawer.value = true
}
// 分配角色按钮
const handleAssigned = async (row) => {
  resetUserParams()
  //  赋值数据
  Object.assign(userParams, row)
  // 获取所有的角色信息
  let res = await queryRoleListByAdminId(row.id)
  if (res.code !== 200) {
    ElMessage.error('获取数据失败！')
    return
  }
  let { assignRoles, allRolesList } = res.data
  allRole.value = allRolesList
  selectedRole.value = assignRoles
  isShowAssignedDrawer.value = true
}
// 角色分配， 全选按钮
const handleCheckAllChange = (val: boolean) => {
  // 全选之后将所有的 角色赋值给已有的角色
  selectedRole.value = val ? allRole.value : []
  // 设置不确定状态，仅负责样式控制
  isIndeterminate.value = false
}
// 角色分配，单选按钮
const handleCheckedCitiesChange = (value: string[]) => {
  // 选中的角色
  const checkedCount = value.length
  checkAll.value = checkedCount === allRole.value.length
  isIndeterminate.value =
    checkedCount > 0 && checkedCount < allRole.value.length
}
// 角色分配的取消按钮
const cancelAssigned = async () => {
  isShowAssignedDrawer.value = false
}
// 角色分配的确认按钮
const confirmAssigned = async () => {
  let params: setRoleData = {
    roleIdList: selectedRole.value.reduce((acc, pre) => {
      return [...acc, pre.id]
    }, []),
    userId: userParams.id,
  }
  const res = await assignedRole(params)
  if (res.code !== 200) {
    ElMessage.error('分配角色失败！！')
    return
  }
  queryUserListData(currentPage.value)
  ElMessage.success('分配角色成功！')
  isShowAssignedDrawer.value = false
}
// 删除单个角色
const handleDeleteRole = async (row) => {
  let res = await deleteRole(row.id)
  if (res.code !== 200) {
    ElMessage.error('删除失败！')
    return
  }
  queryUserListData(
    UserListData.value.length > 1 ? currentPage.value : currentPage.value - 1,
  )
  ElMessage.success('删除成功！')
}
//  批量删除
const handleBatchDelRole = async () => {
  const list: any = BatchDelList.value.map((it) => it.id)
  let res = await batchDeleteRole(list)
  if (res.code !== 200) {
    ElMessage.error('删除失败！')
    return
  }
  queryUserListData(
    UserListData.value.length > 1 ? currentPage.value : currentPage.value - 1,
  )
  ElMessage.success('删除成功！')
}
//  表格批量删除，挑选数据
const selectTableRole = (data: any) => {
  BatchDelList.value = data
}
// 搜索方法
const search = () => {
  queryUserListData()
}
// 重置的方法
const resetPage = () => {
  layOutSettingStore.refresh = !layOutSettingStore.refresh
}
</script>

<style lang="scss" scoped>
.eltitle {
  display: flex;
  justify-content: space-between;
}
</style>
