<template>
  <router-view v-slot="{ Component }">
    <transition name="fade">
      <component :is="Component" v-if="flag" />
    </transition>
  </router-view>
</template>

<script lang="ts" setup>
import { nextTick, ref, watch } from 'vue'
defineOptions({
  // eslint-disable-next-line vue/no-reserved-component-names
  name: 'Main',
})
import useLayOutSettingStore from '@/store/modules/setting'
//  应用设置小仓库
let layOutSettingStore = useLayOutSettingStore()
// 控制组件是否展示
let flag = ref(true)

// 监听 组件的显示与刷新
watch(
  () => layOutSettingStore.refresh,
  () => {
    flag.value = false
    nextTick(() => {
      flag.value = true
    })
  },
)
</script>

<style lang="scss" scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>
