<template>
  <div class="box">
    <h3 class="title" v-bind="$attrs">用来测试封装组件</h3>
    <h3>测试组件v-model:<input type="text" :value="modelValue" @input="$emit('update:modelValue', $event.target.value)"></h3>
    <el-table ref="tableRef" :data="data" style="width: 100%">
      <el-table-column prop="date" label="Date" width="180" />
      <el-table-column prop="name" label="Name" width="180" />
      <el-table-column prop="address" label="Address" />
    </el-table>
    <!--    具名插槽-->
    <slot name="mybutton"></slot>

    <div>展示attrs: {{ $attrs }}</div>

    <hr />
    <!-- 匿名插槽    -->
    <slot></slot>
  </div>
</template>

<script setup lang="ts">
import { onMounted, ref, useAttrs } from 'vue'

defineOptions({ name: 'HomeChildren', inheritAttrs: false })
defineProps({
  data: {
    type: Array,
    default: () => {
      return []
    },
  },
  modelValue: {
    type : String,
    default: ''
  }
})
const tableRef = ref()
const attrs = useAttrs()
const exposes = {}

onMounted(() => {
  const enteries = Object.entries(tableRef.value)
  for (const [method, fn] of enteries) {
    exposes[method] = fn
  }
  console.log(exposes)
})

defineExpose(exposes)

attrs.onClick()
</script>

<style scoped>
.box {
  width: 100%;
  height: 300px;
  background-color: skyblue;
  padding: 10px;
  margin-top: 20px;
}
.title {
  color: sienna;
  font-size: 18px;
}
</style>
