<template>
  <el-card>
    <div class="card">
      <img :src="userStore.avatar" alt="用户头像" class="avator" />
      <div class="nav">
        <h2 class="title">
          {{ `HI,${userStore.username},${getTime()}好呀！` }}
        </h2>
        <p class="subtitle">{{ staticStr.title }}</p>
      </div>
    </div>
  </el-card>

  <!--  测试第三方组件封装，传参attrs，以及传入自定义事件等 -->
  <p>{{msg}}</p>
  <HomeChildren
    :data="dataList"
    :pageIndex="1"
    abc="姑苏城外北亭西"
    @click="myClick"
    class="newbgc"
    ref="tableRef"
    v-model="msg"
  >
    <template v-slot:mybutton>
      <button>点击按钮</button>
    </template>
    <template #default>
      <span>这是一个安静的晚上</span>
    </template>
  </HomeChildren>
  <div class="icon">
    <svg-icon name="welcome" style="width: 500px; height: 500px"></svg-icon>
  </div>
</template>

<script lang="ts" setup>
import useUserStore from '@/store/modules/user'
import { getTime } from '@/utils/times.ts'
import staticStr from '@/setting.ts'
import { onMounted, ref } from 'vue'
import HomeChildren from '@/view/home/homeChildren.vue'

defineOptions({ name: 'Home' })
//  引用用户相关的头像
let userStore = useUserStore()
const msg = ref('')
const tableRef = ref()
// 表格数据
const dataList = [
  {
    date: '2016-05-03',
    name: 'Tom',
    address: 'No. 189, Grove St, Los Angeles',
  },
  {
    date: '2016-05-02',
    name: 'Tom',
    address: 'No. 189, Grove St, Los Angeles',
  },
  {
    date: '2016-05-04',
    name: 'Tom',
    address: 'No. 189, Grove St, Los Angeles',
  },
  {
    date: '2016-05-01',
    name: 'Tom',
    address: 'No. 189, Grove St, Los Angeles',
  },
]

const myClick = () => {
  console.log('测试一下')
}

onMounted(() => {
  console.log(tableRef.value)
})
</script>

<style lang="scss" scoped>
.card {
  display: flex;
  .avator {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
  .nav {
    padding-left: 10px;
    .title {
      font-size: 20px;
      font-weight: 900;
      padding-bottom: 40px;
    }
    .subtitle {
      font-size: 14px;
      font-weight: bold;
      color: silver;
      font-style: italic;
    }
  }
}
.icon {
  display: flex;
  justify-content: center;
}

.newbgc {
  color: cyan;
  font-size: 24px;
}
</style>
