<template>
  <Category :scene="scene"></Category>
  <el-card class="card2">
    <div v-show="scene === 0">
      <!-- 添加属性按钮   -->
      <el-button
        type="primary"
        size="default"
        icon="Plus"
        @click="handleChangeScene"
        :disabled="!categoryStore.categoryId3"
      >
        添加属性
      </el-button>
      <!--  表格数据  -->
      <el-table
        border
        style="margin: 10px 0; width: 100%"
        :data="categoryStore.attrList"
      >
        <el-table-column
          label="序号"
          align="center"
          width="120"
          type="index"
          prop="id"
          fit="false"
        ></el-table-column>

        <el-table-column
          label="属性名称"
          width="180"
          align="center"
          prop="attrName"
          fit="false"
        ></el-table-column>

        <el-table-column label="属性值名称" align="center" fit="true">
          <!--   row： 表示的是该行的已有属性    -->
          <template #default="{ row, $index }">
            <el-tag
              style="margin: 5px"
              v-for="(tag, i) in row.attrValueList"
              :key="tag.id"
            >
              {{ tag.valueName }}
            </el-tag>
          </template>
        </el-table-column>

        <el-table-column label="操作" width="180" align="center" fit="false">
          <template #default="{ row, $index }">
            <el-button type="primary" size="small" icon="Edit" @click="handleToUpdateAttr(row)">修改</el-button>
            <el-popconfirm :title="`是否删除${row.attrName}属性?`"  @confirm="deleteAttr(row)" width="200px">
              <template #reference>
                <el-button
                  type="warning"
                  size="small"
                  icon="Delete"
                  style="margin-left: 5px"
                >
                  删除
                </el-button>
              </template>
            </el-popconfirm>

          </template>
        </el-table-column>
      </el-table>
    </div>
    <div v-show="scene === 1">
      <el-form>
        <el-form-item label="属性名称">
          <el-input
            style="width: 300px"
            placeholder="请输入属性名称"
            v-model="attrParams.attrName"
          ></el-input>
        </el-form-item>
        <!--   添加属性值按钮      -->
        <el-button
          :disabled="!attrParams.attrName"
          type="primary"
          size="default"
          icon="Plus"
          @click="handleToAddAttr"
        >
          添加属性
        </el-button>
        <!--   上边取消按钮     -->
        <el-button @click="cancel">取消</el-button>
        <el-table
          :data="attrParams.attrValueList"
          border
          style="margin: 10px 0"
        >
          <el-table-column
            label="序号"
            type="index"
            width="80px"
            align="center"
          ></el-table-column>
          <el-table-column label="属性值名称">
            <template #default="{ row, $index }">
              <el-input
                :ref="(vc) => (attrInputList[$index] = vc)"
                v-if="row.flag"
                @blur="toLook(row, $index)"
                placeholder="请输入修改的属性名称"
                size="small"
                v-model.trim="row.valueName"
              />
              <div
                @click="toEdit(row, $index)"
                v-else
                style="
                  background-image: linear-gradient(
                    to right,
                    pink,
                    #fff,
                    skyblue
                  );
                "
              >
                {{ row.valueName }}
              </div>
            </template>
          </el-table-column>
          <el-table-column label="属性值操作">
            <template #default="{ row, $index }">
              <el-button
                type="danger"
                plain
                size="small"
                icon="Delete"
                @click="attrParams.attrValueList.splice($index, 1)"
              >
                删除
              </el-button>
            </template>
          </el-table-column>
        </el-table>
        <!-- 保存按钮  -->
        <el-button
          type="primary"
          :disabled="!attrParams.attrName || !attrParams.attrValueList.length"
          @click="save"
        >
          保存
        </el-button>
        <!--   下边取消按钮     -->
        <el-button @click="cancel">取消</el-button>
      </el-form>
    </div>
  </el-card>
</template>

<script lang="ts" setup>
import { ref, reactive, nextTick, onBeforeUnmount } from 'vue'

defineOptions({
  name: 'Attr',
})
import useCategoryStore from '@/store/modules/category'
import { AttrList, Tagtype } from '@/api/product/attr/attrType'
import { updateCategoryDetail, deleteAttrByAttrId } from '@/api/product/attr'
import { ElMessage } from 'element-plus'
import {deepClone} from "@/utils/tools/deepClone";
// 商品属性仓库
let categoryStore = useCategoryStore()
// 场景值 0表示展示表格 1表示修改属性
let scene = ref<number>(0)
//  商品属性传参
let attrParams = reactive<AttrList>({
  id: '',
  attrName: '', // 已有的属性的名字
  attrValueList: [], // 新增的属性值数组
  categoryId: '', //已有的属性归属于那个三级分类
  categoryLevel: 3, //代表的是几级分类
})
//  收集属性数组
let attrInputList = ref<any>([])
//  添加属性值按钮
const handleChangeScene = () => {
  //  清空已经收集的数据
  Object.assign(attrParams, {
    id: '',
    attrName: '', // 已有的属性的名字
    attrValueList: [], // 新增的属性值数组
    categoryId: '', //已有的属性归属于那个三级分类
    categoryLevel: 3, //代表的是几级分类
  })
  //  切换场景
  scene.value = 1
  // 点击添加属性按钮时 手机三级菜单id
  attrParams.categoryId = categoryStore.categoryId3
}
// 取消按钮
const cancel = () => {
  scene.value = 0
}
//  添加属性
const handleToAddAttr = () => {
  attrParams.attrValueList.push({
    valueName: '', // 属性的名称
    flag: true, // 用来切换展示模式  是输入框还是字体展示
  })
  // 获取 最后一个数组并聚焦
  nextTick(() => {
    attrInputList.value[attrParams.attrValueList.length - 1].focus()
  })
}
// 保存按钮
const save = async () => {
  // if(!attrParams.attrName) { return }
  let res: any = await updateCategoryDetail(attrParams)
  if (res.code !== 200) {
    ElMessage({
      type: 'error',
      message: attrParams.id ? '修改失败' : '添加失败',
    })
    return
  }

  //  成功之后修改场景
  scene.value = 0
  ElMessage({
    type: 'success',
    message: attrParams.id ? '修改成功' : '添加成功',
  })
  //  再去获取已有的属性值
  await categoryStore.APIgetAttrDetail()
}
// 属性值表单元素失却焦点
const toLook = (row: Tagtype, $index: number) => {
  //  如果属性值的 valueName 是空的话 那么就不能切换值
  if (!row.valueName.trim()) {
    //  删除掉当前的值
    attrParams.attrValueList.splice($index, 1)
    ElMessage({
      type: 'error',
      message: '属性值不能为空',
    })
    return
  }
  // 判断当前输入的是否有重复的值
  if (attrParams.attrValueList?.length >= 2) {
    let tempAttr = attrParams.attrValueList.find((it, index) => {
      return index !== $index && it.valueName === row.valueName
    })
    if (tempAttr && Object.keys(tempAttr).length) {
      //  删除掉当前的值
      attrParams.attrValueList.splice($index, 1)
      ElMessage({
        type: 'error',
        message: '属性值不能重复',
      })
      return
    }
  }

  //  flag为false 展示div
  row.flag = false
}
// 属性div点击事件
const toEdit = (row: Tagtype, $index: number) => {
  row.flag = true
  //  响应式数据发生变化获取更新的Dom（组件实例）
  nextTick(() => {
    attrInputList.value[$index].focus()
  })
}
// Table表格的修改按钮
const handleToUpdateAttr = (row: Tagtype) => {
  let  tempRow =  deepClone(row)
  Object.assign(attrParams, tempRow)
  // 切换场景值
  scene.value = 1
}
// 删除属性
const deleteAttr = async (row: any) => {
  let res:any = await deleteAttrByAttrId(row.id)
  if(res.code !== 200){
    ElMessage({
      type: 'error',
      message: '删除失败',
    })
    return
  }
  ElMessage({
    type: 'success',
    message: '删除成功',
  })
  //  再去获取已有的属性值
  await categoryStore.APIgetAttrDetail()
}

// 路由切换时  销毁对应的仓库数据
onBeforeUnmount(() => {
  categoryStore.$reset()
})
</script>

<style lang="scss" scoped>
.card2 {
  width: 100%;
  margin-top: 10px;
}
</style>
