<template>
  <div>
    <TestMyComponent></TestMyComponent>
<!--    <TestMyTable></TestMyTable>-->
<!--    <TestMyButton></TestMyButton>-->
  </div>
</template>

<script setup lang="ts">
import MyTable from './myTable/index.vue'
import TestMyButton from './myButton/test.vue'
import TestMyTable from './myTable/test.vue'
import TestMyComponent from './testMyComponent/index.vue'



</script>

<style lang="scss" scoped>

</style>