<template>
  <div>
    <el-radio-group
      v-bind="$attrs"
      :size="size"
    >
      <component
        v-for="(item ,index) in options"
        v-bind="item"
        :is="radioType"
        :key="index"
        :value="item[optionsProps.value]"
        :border="border"
        :lable="item[optionsProps.label]"
        :disable="item[optionsProps.disabled]"
      />
    </el-radio-group>
  </div>
</template>
<script setup lang="ts" name="MyRadio">
interface OptionsProps {
  value: string
  label: string
  disabled: string
}

import {computed, PropType, ref} from "vue";

const radioProps = defineProps({
  type: {
    type: String as PropType<'radio' | 'button'>,
    validator:(val) => ['radio', 'button'].includes(val),
    default: 'radio'
  },
  size: {
    type: String as PropType<'large' | 'default' | 'small'>,
    validator: (value: string) => ['large', 'default', 'small'].includes(value),
    default: 'default',
  },
  border: {
    type: Boolean,
    default: false,
  },
  options: {
    type: Array,
    default: () => []
  },
  props: {
    type: Object,
    default: () => {}
  }
})

// 多选框的类型, 勾选框|按钮
const radioType = computed(() => {
  const obj = {
    radio: 'el-radio',
    button: 'el-radio-button',
  }
  return obj[radioProps.type] ?? 'el-radio'
})

// 为了和element-ui组件保持一致的属性名, 以及合并disabled等其他属性
const optionsProps = ref<OptionsProps>({
  ...{
    value: 'value',
    label: 'label',
    disabled: 'disabled',
  },
  ...radioProps.props,
})

</script>

<style lang="scss" scoped>

</style>