<template>
  <el-card class="card1">
    <el-form :inline="true">
      <el-form-item label="一级分类">
        <el-select
          :disabled="scene === 1"
          v-model="categoryStore.categoryId1"
          placeholder="请选择一级分类"
          @change="handleQueryCategory2ListbyId1"
        >
          <el-option
            :label="item1.name"
            v-for="(item1, index) in categoryStore.Category1List"
            :key="item1.id"
            :value="item1.id"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="二级分类">
        <el-select
          :disabled="scene === 1"
          @change="handleQueryCategory3ListbyId2"
          v-model="categoryStore.categoryId2"
          placeholder="请选择二级分类"
        >
          <el-option
            :label="item2.name"
            v-for="(item2, index) in categoryStore.Category2List"
            :key="item2.id"
            :value="item2.id"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="三级分类">
        <el-select
          :disabled="scene === 1"
          v-model="categoryStore.categoryId3"
          placeholder="请选择三级分类"
        >
          <el-option
            :label="item3.name"
            v-for="(item3, index) in categoryStore.Category3List"
            :key="item3.id"
            :value="item3.id"
          />
        </el-select>
      </el-form-item>
    </el-form>
  </el-card>
</template>
<script lang="ts" setup>
defineOptions({
  name: 'Category',
})
import useCategoryStore from '@/store/modules/category'
import { onMounted, ref, watch } from 'vue'
// 商品属性仓库
let categoryStore = useCategoryStore()
// 获取prop中的值
defineProps(['scene'])
//  mounted 周期函数
onMounted(() => {
  getCategory1List()
})
// 监听下拉列表的数据  如果获取到数据 就默认选择第一个
watch(
  () => [
    categoryStore.Category1List,
    categoryStore.Category2List,
    categoryStore.Category3List,
  ],
  ([nlist1, nlist2, nlist3]): void => {
    nlist1 &&
      categoryStore.$patch({
        categoryId1: nlist1[1]?.id,
      })
    nlist1 &&
      nlist2 &&
      categoryStore.$patch({
        categoryId2: nlist2[0]?.id,
      })
    nlist1 &&
      nlist2 &&
      nlist3 &&
      categoryStore.$patch({
        categoryId3: nlist3[0]?.id,
      })
  },
  { deep: true },
)
//  检测下拉菜单的id值，如果有就调用下一个下拉菜单的值
watch(
  () => [categoryStore.categoryId1, categoryStore.categoryId2],
  ([n1, n2]) => {
    n1 && categoryStore.APIgetCategory2List()
    n2 && categoryStore.APIgetCategory3List()
  },
)
//  通过属性下拉三级列表 监听是否查询属性详情列表
watch(
  () => categoryStore.categoryId3,
  () => {
    if (!categoryStore.categoryId3) {
      return
    }
    categoryStore.APIgetAttrDetail()
  },
)

// 获取一级级商品下拉列表
const getCategory1List = () => {
  categoryStore.APIgetCategory1List()
}
//  获取二级级商品下拉列表
const handleQueryCategory2ListbyId1 = () => {
  categoryStore.$patch({
    categoryId2: '',
    Category3List: [],
    categoryId3: '',
  })
  categoryStore.APIgetCategory2List()
}
//  获取三级商品下拉列表
const handleQueryCategory3ListbyId2 = () => {
  categoryStore.$patch({
    categoryId3: '',
  })
  categoryStore.APIgetCategory3List()
}
</script>
<style lang="scss" scoped></style>
