<!-- elementUI基础表格 -->
<template>
  <div>
    <el-table
      ref="toRef"
      v-bind="$attrs"
      :data="tableData"
    >
    <el-table-column v-for="(item, index) in columns" :key="item.key" :prop="item.key" :label="item.label" v-bind="item">
      <template #default="scope" v-if="$slots[item.key]">
        <slot :name="item.key" v-bind="scope"></slot>
      </template>
    </el-table-column>
    </el-table>
  </div>
</template>

<script setup lang="ts">
import {ref, getCurrentInstance, onMounted} from 'vue'
interface TableData {
  [propName: string]: any
}
interface Column {
  [propName: string]: any,
  key: string,
  label: string,
  width?: string,
}



defineProps({
  tableData: {
    type: Array,
    default: ():TableData => []
  },
  columns: {
    type: Array,
    default: ():any[] => []
  }
})

// 获取ref
const toRef: any = ref<HTMLElement | null>(null)
// 获取实例方法
const instance: any = getCurrentInstance()




</script>

<style lang="scss" scoped>

</style>