<template>
  <div>
    <MyTable border="true"  :tableData="tableData" :columns="columns">
      <template #btn="scope">
        <el-button type="primary" size="small">按钮</el-button>
      </template>
    </MyTable>

  </div>
</template>

<script setup lang="ts">
import MyTable from './index.vue'

const tableData = [
  {
    date: '2016-05-03',
    name: 'Tom',
    address: 'No. 189, Grove St, Los Angeles',
  },
  {
    date: '2016-05-02',
    name: 'Tom',
    address: 'No. 189, Grove St, Los Angeles',
  },
  {
    date: '2016-05-04',
    name: 'Tom',
    address: 'No. 189, Grove St, Los Angeles',
  },
  {
    date: '2016-05-01',
    name: 'Tom',
    address: 'No. 189, Grove St, Los Angeles',
  },
]

const columns = [
  {
    key: 'date',
    label: '日期',
    width: '200',
  },
  {
    key: 'name',
    label: '姓名',
    width: '200',
  },
  {
    key: 'address',
    label: '地址',
  },
  {
    key: 'btn',
    label: '按钮',
  },
]



</script>

<style lang="scss" scoped>

</style>