<template>
  <div class="top">
    <div class="tleft">
      <div class="lbtn" @click="handleToHome">首页</div>
    </div>
    <div class="tcenter">
      <div class="title">智慧旅游可视化大数据平台</div>
    </div>
    <div class="tright">
      <span class="rbtn">统计报告</span>
      <span class="rtime">当前时间:{{ formatTime }}</span>
    </div>
  </div>
</template>

<script setup lang="ts">
import { useRouter } from 'vue-router'
// import * as moment from "moment";
import { computed, onBeforeUnmount, onMounted, ref } from 'vue'
// 获取路由器对象
let $router = useRouter()
// 当前时间（时间戳形式）
let time = ref(new Date())
//  定时器
let timer = ref<any>(0)
defineOptions({
  name: 'Screen_Top',
})

// 组件挂载完毕更新当前的事件
onMounted(() => {
  timer.value = setInterval(() => {
    time.value = new Date()
  }, 1000)
})
// 组件销毁前 清空定时器
onBeforeUnmount(() => {
  clearInterval(timer.value)
})
const formatTime = computed(() => {
  return timestampToTime(time.value)
})
// 跳转首页
const handleToHome = () => {
  $router.push('/home')
}
const timestampToTime = (timestamp) => {
  timestamp = timestamp ? timestamp : null
  let date = new Date(timestamp) //时间戳为10位需*1000，时间戳为13位的话不需乘1000
  let Y = date.getFullYear() + '-'
  let M =
    date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1
  let D = date.getDate() < 10 ? '0' + date.getDate() : date.getDate()
  let h = date.getHours() < 10 ? '0' + date.getHours() : date.getHours()
  let m = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes()
  let s = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds()
  // return Y + M + D + h + m + s;
  return `${Y}年${M}月${D}日 ${h}:${m}:${s}`
}
</script>

<style lang="scss" scoped>
.top {
  width: 100%;
  height: 40px;
  display: flex;
  .tleft {
    flex: 2;
    background: url('src/view/screen/images/dataScreen-header-left-bg.png')
      no-repeat;
    background-size: 100% 100%;
    .lbtn {
      background: url('src/view/screen/images/dataScreen-header-btn-bg-l.png');
      background-size: cover;
      width: 150px;
      height: 40px;
      line-height: 40px;
      color: #29fcff;
      font-size: 20px;
      float: right;
      text-align: center;
    }
  }
  .tcenter {
    flex: 3;
    .title {
      width: 100%;
      height: 74px;
      background: url('src/view/screen/images/dataScreen-header-center-bg.png');
      background-size: 100% 100%;
      line-height: 74px;
      color: #29fcff;
      font-size: 30px;
      text-align: center;
    }
  }
  .tright {
    flex: 2;
    background: url('src/view/screen/images/dataScreen-header-right-bg.png')
      no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .rbtn {
      width: 150px;
      height: 40px;
      background: url('src/view/screen/images/dataScreen-header-btn-bg-r.png');
      background-size: cover;
      line-height: 40px;
      color: #29fcff;
      font-size: 20px;
      text-align: center;
    }
    .rtime {
      color: #29fcff;
      font-size: 20px;
      margin-right: 10px;
    }
  }
}
</style>
