<template>
  <div class="box">
    <div class="top">
      <p class="title">实时游客统计</p>
      <p class="bg"></p>
      <p class="right">
        可预约总量:
        <span class="right_num">999999</span>
        人
      </p>
    </div>
    <div class="number">
      <span v-for="it in people">{{ it }}</span>
    </div>
    <!-- 用盒子展示echarts的图标   -->
    <div class="charts" ref="charts"></div>
  </div>
</template>

<script setup lang="ts">
import {onMounted, ref} from 'vue'
import * as echarts from 'echarts'
// 水球图插件
import 'echarts-liquidfill'
defineOptions({
  name: 'Tourist',
})
// 获取节点
let charts = ref()
let people = ref('210608人')

onMounted(() => {
//  获取echarts实例
  let myecharts = echarts.init(charts.value)
//   设置实例的配置项
  myecharts.setOption({
    // title: {
    //   text: '水球图'
    // },
    // xAxis: {},
    // yAxis: {},
    series: {
      type: 'liquidFill',
      radius: '95%',
      data: [0.5, 0.4, {
        name: '预测量',
        value: 0.3,
        itemStyle: {
          color: '#fff',
          opacity: 0.6
        },
        emphasis: {
          itemStyle: {
            opacity: 0.9
          }
        },
      }]
    }
  })
})
</script>

<style lang="scss" scoped>
.box {
  background: url('../../images/dataScreen-main-lb.png') no-repeat;
  background-size: 100% 100%;
  margin-top: 20px;
  .top {
    margin-left: 20px;
    .title {
      color: white;
      font-size: 20px;
    }
    .bg {
      width: 68px;
      height: 7px;
      background: url('../../images/dataScreen-title.png');
      background-size: 100% 100%;
      margin-top: 10px;
    }
    .right {
      float: right;
      color: white;
      font-size: 20px;
      &_num {
        color: cyan;
      }
    }
  }
  .number{
    padding: 20px;
    margin-top: 50px;
    display: flex;
    span{
      font-size: 25px;
      font-weight: 900;
      flex: 1;
      height: 65px;
      line-height: 65px;
      text-align: center;
      background: url("../../images/total.png") no-repeat;
      -webkit-background-size: 100% 100%;
      background-size:  100% 100%;
      color: cyan
    }
  }
  .charts{
    width: 100%;
    height: 240px;
  }
}
</style>
