<template>
  <el-card>
    <el-table :data="skuData" border>
      <el-table-column
        label="序号"
        type="index"
        width="100"
        align="center"
      ></el-table-column>
      <el-table-column prop="skuName" label="名称"></el-table-column>
      <el-table-column
        prop="skuDesc"
        label="描述"
        show-overflow-tooltip
        width="200"
      ></el-table-column>
      <el-table-column label="默认图片" width="220">
        <template #default="{ row, index }">
          <img
            :src="row.skuDefaultImg"
            alt="sku图片"
            style="height: 200px; width: 200px"
          />
        </template>
      </el-table-column>
      <el-table-column prop="weight" label="重量（g）"></el-table-column>
      <el-table-column prop="price" label="价格（元）"></el-table-column>
      <el-table-column fixed="right" label="操作" width="300">
        <template #default="{ row, index }">
          <el-button
            type="success"
            @click="handleUpAndDown(row)"
            :icon="row.isSale === 0 ? 'Top' : 'Bottom'"
          ></el-button>
          <el-button type="primary" @click="handleEdit" icon="Edit"></el-button>
          <el-button
            type="info"
            icon="InfoFilled"
            @click="handleToViewInfo(row)"
          ></el-button>
          <el-popconfirm
            :title="`你是否要删除【${row.skuName}】?`"
            @confirm="handleToDeleteSku(row)"
            width="200"
          >
            <template #reference>
              <el-button type="danger" icon="Delete"></el-button>
            </template>
          </el-popconfirm>
        </template>
      </el-table-column>
    </el-table>
    <!-- 分页   -->
    <el-pagination
      style="margin: 10px 0"
      v-model:current-page="currentPage"
      v-model:page-size="pageSize"
      :page-sizes="[10, 20, 30, 40]"
      layout="prev, pager, next, jumper, ->, sizes, total"
      :total="total"
      @size-change="handleSizeChange"
      @current-change="querySkuList"
    />
    <!--  弹出层  -->
    <el-drawer v-model="isShowDrawer">
      <template #header>
        <h4>查看商品详情</h4>
      </template>
      <template #default="{ row, $index }">
        <el-row style="margin: 10px 0">
          <el-col :span="6">名称</el-col>
          <el-col :span="18">{{ drawerData.skuName }}</el-col>
        </el-row>
        <el-row style="margin: 10px 0">
          <el-col :span="6">描述</el-col>
          <el-col :span="18">{{ drawerData.skuDesc }}</el-col>
        </el-row>
        <el-row style="margin: 10px 0">
          <el-col :span="6">价格</el-col>
          <el-col :span="18">{{ drawerData.price }}</el-col>
        </el-row>
        <el-row style="margin: 10px 0">
          <el-col :span="6">平台属性</el-col>
          <el-col :span="18">
            <el-tag
              style="margin: 5px 10px"
              v-for="(it, i) in drawerData.skuAttrValueList"
              :key="it.id"
            >
              {{ it.valueName }}
            </el-tag>
          </el-col>
        </el-row>
        <el-row style="margin: 10px 0">
          <el-col :span="6">销售属性</el-col>
          <el-tag
            :span="18"
            style="margin: 5px 10px"
            v-for="(it, i) in drawerData.skuSaleAttrValueList"
            :key="it.id"
          >
            {{ it.saleAttrValueName }}
          </el-tag>
        </el-row>
        <el-row style="margin: 10px 0">
          <el-col :span="6">商品图片</el-col>
          <el-col :span="18">
            <el-carousel :interval="4000" type="card" height="200px">
              <el-carousel-item
                v-for="item in drawerData.skuImageList"
                :key="item.id"
              >
                <img
                  :src="item.imgUrl"
                  alt=""
                  style="width: 100%; height: 100%"
                />
              </el-carousel-item>
            </el-carousel>
          </el-col>
        </el-row>
      </template>
    </el-drawer>
  </el-card>
</template>

<script lang="ts" setup>
import { onMounted, ref } from 'vue'
import {
  cancelSku,
  deleteSku,
  getSkuListData,
  onSaleSku,
  querySkuDetailBySkuId,
} from '@/api/product/sku'
import { ElMessage } from 'element-plus'
import { Bottom } from '@element-plus/icons-vue'

defineOptions({
  name: 'Sku',
})
// 当前页数
let currentPage = ref(1)
//  当前页码
let pageSize = ref(10)
//  数据总量
let total = ref(0)
//  SKU列表数据
let skuData = ref([])
// 是否展开抽屉
let isShowDrawer = ref<boolean>(false)
//  展开抽屉显示的数据
let drawerData = ref<any>(null)
//  周期函数
onMounted(() => {
  querySkuList()
})
// =========================方法===============
//  获取数据
const querySkuList = async (page = 1) => {
  currentPage.value = page
  let res = await getSkuListData(currentPage.value, pageSize.value)
  if (res.code !== 200) {
    ElMessage.error('获取数据失败')
  }
  skuData.value = res.data.records
  total.value = res.data.total as number
}
// SKU的上下架状态
const handleUpAndDown = async (row) => {
  let res = null
  // 商品上架状态
  row.isSale === 1
    ? (res = await cancelSku(row.id))
    : (res = await onSaleSku(row.id))
  if (res.code !== 200) {
    ElMessage.error((row.isSale === 0 ? '上架' : '下架') + '失败')
    return
  }
  ElMessage.success((row.isSale === 0 ? '上架' : '下架') + '成功')
  //  上下架成功之后再次更新商品
  querySkuList(currentPage.value)
}
// 更换每页数据的回调
const handleSizeChange = () => {
  querySkuList()
}
//  编辑数据
const handleEdit = () => {
  ElMessage.success('该需求正在开发中...')
}
//  查看数据
const handleToViewInfo = async (row) => {
  //  获取已有的Sku数据
  let res = await querySkuDetailBySkuId(row.id)
  if (res.code !== 200) {
    return
  }
  drawerData.value = res.data
  isShowDrawer.value = true
}
//  删除sku数据
const handleToDeleteSku = async (row) => {
  let res = await deleteSku(row.id)
  if (res.code !== 200) {
    ElMessage.error('删除失败')
    return
  }
  ElMessage.success('删除成功')
  await querySkuList(
    skuData.value.length > 1 ? currentPage.value : currentPage.value - 1,
  )
}
</script>

<style lang="scss" scoped></style>
