<template>
  <div class="age">
    <div class="title">
      <p>年龄比例</p>
      <img src="../../images/dataScreen-title.png" alt="" />
    </div>
    <!-- 图表的盒子  -->
    <div class="echart" ref="echart"></div>
  </div>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue'
import * as echarts from 'echarts'

defineOptions({
  name: 'Screen_Age',
})
let echart = ref()
onMounted(() => {
  let myechart = echarts.init(echart.value)
  myechart.setOption({
    tooltip: {
      trigger: 'item',
    },
    legend: {
      top: '20%',
      right: '10%',
      orient: 'vertical', // 图例组件的方向设置
      textStyle: {
        color: '#fff',
        fontSize: 20,
      },
    },
    series: [
      {
        name: 'Access From',
        type: 'pie',
        radius: ['40%', '80%'],
        avoidLabelOverlap: false,
        itemStyle: {
          borderRadius: 10,
          borderColor: '#fff',
          borderWidth: 0,
        },
        label: {
          show: true,
          position: 'inside',
          color: '#fff',
          borderType: 'dotted',
        },
        labelLine: {
          show: false,
        },
        data: [
          { value: 1048, name: '幼儿' },
          { value: 735, name: '儿童' },
          { value: 580, name: '少年' },
          { value: 484, name: '青年' },
          { value: 300, name: '中老年' },
        ],
      },
    ],
    grid: {
      left: 0,
      right: 0,
      top: 0,
      bottom: 0,
    },
  })
})
</script>

<style lang="scss" scoped>
.age {
  height: 100%;
  width: 100%;
  background: url('../../images/dataScreen-main-cb.png') no-repeat;
  background-size: 100% 100%;
  margin-top: 10px;
  .title {
    color: white;
    margin-left: 15px;
    font-size: 20px;
    img {
      width: 68px;
      height: 7px;
    }
  }
  .echart {
    width: 100%;
    height: 100%;
  }
}
</style>
