<template>
    <div>
      <el-checkbox-group
          v-bind="$attrs"
          :size="size"
      >
        <component
            v-for="(item, index) in options"
            v-bind="item"
            :is="checkBoxType"
            :key="index"
            :label="item[optionsProps.label]"
            :value="item[optionsProps.value]"
            :disable="item[optionsProps.disabled]"
        />
      </el-checkbox-group>
    </div>
</template>

<script setup lang="ts" name="MyCheckBox">
interface OptionsProps {
  value: string
  label: string
  disabled: string
}

import {computed, PropType, ref} from "vue";

const configProps = defineProps({
  options: {
    type: Array as PropType<{label: string, value: number}[]>,
    default: () => []
  },
  type: {
    type: String as PropType<'check' | 'button'>,
    validator: (value: string) :boolean => ['check', 'button'].includes(value),
    default: 'check'
  },
  size: {
    tpe: String as PropType<'large' | 'default' | 'small'>,
    validator: (value: string) :boolean => ['large', 'default', 'small'].includes(value),
    default: 'default'
  },
  props: {
    type: Object,
    default: () => {}
  },
})

// 绑定checkbox的类型
const checkBoxType = computed(() => {
  const obj = {
    check: 'el-checkbox',
    button: 'el-checkbox-button'
  }
  return obj[configProps.type] ?? 'el-checkbox'
})


// 为了和element-ui组件保持一致的属性名, 以及合并disabled等其他属性
const optionsProps = ref<OptionsProps>({
  ...{
    value: 'value',
    label: 'label',
    disabled: 'disabled',
  },
  ...configProps.props,
})


</script>

<style lang="scss" scoped>

</style>