<template>
  <el-button
    size="small"
    icon="Refresh"
    circle
    @click="updateRefsh"
  ></el-button>
  <el-button
    size="small"
    icon="FullScreen"
    circle
    @click="fullScreen"
  ></el-button>
  <el-button
    size="small"
    icon="Setting"
    @click="showDrawer = !showDrawer"
    circle
  ></el-button>
  <img
    :src="userStore.avatar"
    style="width: 24px; height: 24px; margin: 0px 10px; border-radius: 50%"
  />
  <!-- 下拉菜单 -->
  <el-dropdown>
    <span class="el-dropdown-link">
      {{ userStore.username }}
      <el-icon class="el-icon--right" style="margin-right: 10px">
        <arrow-down />
      </el-icon>
    </span>
    <template #dropdown>
      <el-dropdown-menu>
        <el-dropdown-item @click="layout">退出登录</el-dropdown-item>
      </el-dropdown-menu>
    </template>
  </el-dropdown>
  <!-- 弹出层-->
  <el-drawer v-model="showDrawer" append-to-body>
    <template #header>
      <h4>主题设置</h4>
    </template>
    <template #default>
      <el-form>
        <el-form-item label="颜色">
          <el-color-picker
            v-model="color"
            style="margin-left: 24px"
            @change="setColor"
            show-alpha
            :predefine="predefineColors"
          ></el-color-picker>
        </el-form-item>
        <el-form-item label="暗黑模式">
          <el-switch
            v-model="check"
            class="mt-2"
            @change="switchFn"
            inline-prompt
            style="
              margin-left: 24px;
              --el-switch-on-color: #000;
              --el-switch-off-color: rgba(255, 69, 0, 0.68);
            "
            :active-icon="Moon"
            :inactive-icon="Sunny"
          />
        </el-form-item>
      </el-form>
    </template>
    <template #footer>
      <div style="flex: auto">
        <el-button @click="showDrawer = false">取消</el-button>
        <el-button type="primary" @click="showDrawer = false">确认</el-button>
      </div>
    </template>
  </el-drawer>
</template>

<script setup lang="ts">
defineOptions({ name: 'Setting' })
import { ref, watch } from 'vue'
import useLayOutSettingStore from '@/store/modules/setting'
import useUserStore from '@/store/modules/user'
import { Sunny, Moon } from '@element-plus/icons-vue'

let layOutSettingStore = useLayOutSettingStore()
let userStore = useUserStore()

//  获取路由对象
import { useRoute, useRouter } from 'vue-router'
//  抽屉弹出层
let showDrawer = ref<boolean>(false)
//  默认颜色
let color = ref('rgba(255, 69, 0, 0.68)')
//  可选颜色
const predefineColors = [
  '#ff4500',
  '#ff8c00',
  '#ffd700',
  '#90ee90',
  '#00ced1',
  '#1e90ff',
  '#c71585',
  'rgba(255, 69, 0, 0.68)',
  'rgb(255, 120, 0)',
  'hsv(51, 100, 98)',
  'hsva(120, 40, 94, 0.5)',
  'hsl(181, 100%, 37%)',
  'hsla(209, 100%, 56%, 0.73)',
  '#c7158577',
]
//  开关
let check = ref<boolean>(false)
//  定义路由实例
const $route = useRoute(),
  $router = useRouter()

//  页面的刷新功能
const updateRefsh = () => {
  // console.log(layOutSettingStore.refresh)
  layOutSettingStore.refresh = !layOutSettingStore.refresh
}
//  切换开关
const switchFn = () => {
  let html = document.documentElement
  check.value ? (html.className = 'dark') : (html.className = '')
  userStore.userSettingDark(check.value)
}
//  设置按钮的主题颜色
const setColor = () => {
  let html = document.documentElement
  html.style.setProperty('--el-color-primary', color.value)
}
//  页面的放大功能
const fullScreen = () => {
  // Dom 对象的一个属性：可以来判断当前是否是全屏模式 true: 全屏  false 非全屏
  let full = document.fullscreenElement
  // 如果是全屏 则退出； 不是全屏，则使用全屏
  full
    ? document.exitFullscreen()
    : document.documentElement.requestFullscreen()
}
//  退出登录
const layout = async () => {
  /*  1. 向后台发送请求，销毁当前的token（因没有后端接口先不做）
   *   2. 清除前台存储的一些信息 如 TOKEN等
   *   3. 退出到登录页面
   * */

  await userStore.userLoginout()

  $router.push({
    path: '/login',
    query: { redirect: $route.path },
  })
}
</script>

<style scoped></style>
