<template>
  <div class="container">
    <!-- 数据大屏的展示区域  -->
    <div class="screen" ref="screen">
      <!--  数据大屏顶部  -->
      <div class="top">
        <Top></Top>
      </div>
      <!-- 数据大屏底部   -->
      <div class="bottom">
        <!-- 左边 -->
        <div class="left">
          <Tourist class="tourist"></Tourist>
          <Sex class="sex"></Sex>
          <Age class="age"></Age>
        </div>
        <!--  中间  -->
        <div class="center">
          <Map class="map"></Map>
          <Line class="line"></Line>
        </div>
        <div class="right">
          <Rank class="rank"></Rank>
          <Year class="year"></Year>
          <Counter class="counter"></Counter>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { onMounted, ref } from 'vue'
import Top from './components/top/index.vue'
import Age from './components/age/index.vue'
import Sex from './components/sex/index.vue'
import Tourist from './components/tourist/index.vue'
import Map from './components/map/index.vue'
import Line from './components/line/index.vue'
import Counter from './components/Counter/index.vue'
import Year from './components/Year/index.vue'
import Rank from './components/Rank/index.vue'
defineOptions({
  name: 'Screen',
})
//  获取screen实例: 数据大屏展示内容盒子的DOM元素
let screen = ref()
//  周期函数
onMounted(() => {
  // 首次加载  设置屏幕的缩放比例
  screen.value.style.transform = `scale(${getScale()}) translate(-50%, -50%)`
})
//  定义数据大屏的缩放比例
const getScale = (w = 1920, h = 1080) => {
  const ww = window.innerWidth / 1920
  const wh = window.innerHeight / 1080
  return Math.min(ww, wh)
}
//  监听视口的变化
window.onresize = () => {
  screen.value.style.transform = `scale(${getScale()}) translate(-50%, -50%)`
}
</script>

<style lang="scss" scoped>
.container {
  width: 100vw;
  height: 100vh;
  background: url('./images/bg.png') no-repeat;
  background-size: 100% 100%;
  .screen {
    width: 1920px;
    height: 1080px;
    //background-color: pink;
    position: fixed;
    left: 50%; // 偏移量
    top: 50%;
    transform-origin: left top; // 设置缩放的位置
    .top {
      width: 100%;
      height: 40px;
    }
    .bottom {
      display: flex;
      .left {
        //background-color: skyblue;
        height: 1040px;
        flex: 1;
        display: flex;
        flex-direction: column;
        .tourist {
          flex: 3;
        }
        .sex {
          flex: 2;
        }
        .age {
          flex: 2;
        }
      }
      .center {
        //background-color: skyblue;
        height: 1040px;
        flex: 2;
        display: flex;
        flex-direction: column;
        .map {
          flex: 3;
        }
        .line {
          flex: 1;
        }
      }
      .right {
        flex: 1;
        height: 1040px;
        display: flex;
        flex-direction: column;
        .tourist {
          flex: 3;
        }
        .sex {
          flex: 2;
        }
        .age {
          flex: 2;
        }
      }
    }
  }
}
</style>
