<template>
  <router-view></router-view>
</template>

<script lang="ts" setup>
defineOptions({
  name: 'App'
})
import { onMounted } from 'vue'

onMounted(() => {})
</script>

<style lang="scss" scoped>
</style>
