<template>
  <div class="age">
    <div class="title">
      <p>年度游客量对比</p>
      <img src="../../images/dataScreen-title.png" alt="" />
    </div>
    <!-- 图表的盒子  -->
    <div class="echart" ref="echart"></div>
  </div>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue'
import * as echarts from 'echarts'

defineOptions({
  name: 'Screen_Age',
})
let echart = ref()
onMounted(() => {
  let myechart = echarts.init(echart.value)
  var charts = {
    unit: '次',
    names: ['数据1', '数据2', '数据3'],
    lineX: [
      '00:00',
      '01:00',
      '02:00',
      '03:00',
      '04:00',
      '05:00',
      '06:00',
      '07:00',
      '08:00',
      '09:00',
      '10:00',
      '11:00',
      '12:00',
      '13:00',
      '14:00',
      '15:00',
      '16:00',
      '17:00',
      '18:00',
      '19:00',
      '20:00',
      '21:00',
      '22:00',
      '23:00',
      '24:00',
    ],
    value: [[], [], []],
  }
  // Function to generate a random number between min and max (inclusive)
  function getRandomNumber(min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min
  }

  // Generate random data for each data series
  for (var i = 0; i < charts.value.length; i++) {
    for (var j = 0; j < 25; j++) {
      charts.value[i][j] = getRandomNumber(0, 100) // Change the range (0 to 100) as needed
    }
  }
  var color = [' #FFA500', ' #C896C8', ' #00FFFF']
  var lineY = []

  for (var i = 0; i < charts.names.length; i++) {
    var x = i
    if (x > color.length - 1) {
      x = color.length - 1
    }
    var data = {
      name: charts.names[i],
      type: 'line',
      stack: '总量',
      color: color[x],
      smooth: true,
      areaStyle: {
        normal: {
          color: color[x],
          //shadowColor: 'rgba(0, 0, 0, 0.1)',
          //shadowBlur: 10,
        },
      },
      symbol: 'circle',
      symbolSize: 5,
      data: charts.value[i],
    }
    lineY.push(data)
  }

  var option = {
    // backgroundColor: '#1b2735',
    tooltip: {
      trigger: 'axis',
    },
    legend: {
      data: charts.names,
      textStyle: {
        fontSize: 12,
        color: 'rgb(0,253,255,0.6)',
      },
      right: '4%',
    },
    grid: {
      top: '14%',
      left: '4%',
      right: '4%',
      bottom: '12%',
      containLabel: true,
    },
    xAxis: {
      type: 'category',
      boundaryGap: false,
      data: charts.lineX,
      splitLine: {
        lineStyle: {
          color: 'rgb(23,255,243,0.3)',
        },
      },
      axisLabel: {
        textStyle: {
          color: 'rgb(0,253,255,0.6)',
          fontSize: 14,
        },
      },
    },
    yAxis: {
      name: charts.unit,
      type: 'value',
      axisLabel: {
        formatter: '{value}',
        textStyle: {
          color: 'rgb(0,253,255,0.6)',
        },
      },
      splitLine: {
        lineStyle: {
          color: 'rgb(23,255,243,0.3)',
        },
      },
      axisLine: {
        lineStyle: {
          color: 'rgb(0,253,255,0.6)',
        },
      },
    },
    series: lineY,
  }

  myechart.setOption(option)
})
</script>

<style lang="scss" scoped>
.age {
  height: 100%;
  width: 100%;
  background: url('../../images/dataScreen-main-cb.png') no-repeat;
  background-size: 100% 100%;
  margin-top: 10px;
  .title {
    color: white;
    margin-left: 15px;
    font-size: 20px;
    img {
      width: 68px;
      height: 7px;
    }
  }
  .echart {
    width: 100%;
    height: 100%;
  }
}
</style>
