<template>
  <div class="sex">
    <div class="title">
      <p>男女比例</p>
      <img src="../../images/dataScreen-title.png" alt="" />
    </div>
    <div class="nav">
      <div class="man">
        <img src="../../images/man.png" alt="" />
      </div>
      <div class="woman">
        <img src="../../images/woman.png" alt="" />
      </div>
    </div>
    <div class="rate">
      <p>男士58%</p>
      <p>女士42%</p>
    </div>
    <div class="echart" ref="echart"></div>
  </div>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue'
import * as echarts from 'echarts'
defineOptions({
  name: 'Screen_Sex',
})
//  echart实例挂载的节点
let echart = ref()
//
onMounted(() => {
  let myechart = echarts.init(echart.value)
  myechart.setOption({
    title: {
      text: '比例柱状图',
      textStyle: { color: '#fff' },
      left: '40%',
    },
    series: [
      {
        type: 'bar',
        data: [58],
        barWidth: 20,
        z: 20,
        itemStyle: {
          color: 'skyblue',
          borderRadius: 20,
        },
      },
      {
        type: 'bar',
        data: [100],
        barWidth: 20,
        // 调整女士柱状条的位置
        barGap: '-100%',
        itemStyle: {
          color: 'pink',
          borderRadius: 20,
        },
      },
    ],
    xAxis: {
      show: false,
      min: 0,
      max: 100,
    },
    yAxis: {
      show: false,
      type: 'category',
    },
    grid: {
      left: 0,
      right: 0,
      top: 0,
      bottom: 0,
    },
  })
})
</script>

<style lang="scss" scoped>
.sex {
  height: 100%;
  width: 100%;
  background: url('../../images/dataScreen-main-cb.png') no-repeat;
  background-size: 100% 100%;
  margin-top: 10px;
  .title {
    color: white;
    margin-left: 15px;
    font-size: 20px;
    img {
      width: 68px;
      height: 7px;
    }
  }
  .nav {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    .man {
      width: 111px;
      height: 115px;
      background: url('../../images/man-bg.png') no-repeat;
      background-size: 100% 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .woman {
      width: 111px;
      height: 115px;
      background: url('../../images/woman-bg.png') no-repeat;
      background-size: 100% 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .rate {
    margin: 5px 0;
    display: flex;
    justify-content: space-around;
    color: #fff;
  }
  .echart {
    width: 100%;
    height: 80px;
    padding: 0 15%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
</style>
