<template>
  <el-card class="card">
    <!--  添加品牌   -->
    <el-button
      type="primary"
      icon="plus"
      v-btn="'btn.Trademark.add'"
      @click="handleToAdd"
    >
      添加品牌
    </el-button>
    <!-- 表格数据 -->
    <el-table border class="table" :data="tradeList">
      <el-table-column label="序号" align="center" width="80" type="index" />
      <el-table-column label="品牌名称" prop="tmName" />
      <el-table-column label="品牌LOGO">
        <template #="{ row, $index }">
          <img :src="row.logoUrl" alt="" style="width: 100px; height: 100px" />
        </template>
      </el-table-column>
      <el-table-column label="品牌操作">
        <template #="{ row, $index }">
          <el-button
            type="success"
            icon="Edit"
            @click="handleToEdit(row)"
          ></el-button>
          <el-popconfirm
            @confirm="confirmDeleteEvent(row)"
            :title="`是否删除品牌${row.tmName}?`"
          >
            <template #reference>
              <el-button type="warning" icon="Delete"></el-button>
            </template>
          </el-popconfirm>
        </template>
      </el-table-column>
    </el-table>
    <!-- 分页  -->
    <el-pagination
      v-model:current-page="currentPage"
      v-model:page-size="pageSize"
      :page-sizes="[3, 5, 7, 9]"
      background
      layout=" prev, pager, next, jumper, ->,sizes,total"
      :total="total"
    />
  </el-card>

  <!-- 对话框组件 在添加修改商品属性的时候使用 -->
  <el-dialog
    v-model="dialogVisible"
    :title="tradeMarkParams.id ? '修改品牌' : '添加品牌'"
    width="50%"
  >
    <el-form
      label-width="120px"
      :model="tradeMarkParams"
      ref="ruleFormRef"
      :rules="rules"
    >
      <el-form-item label="品牌名称" prop="tmName">
        <el-input
          style="width: 500px"
          v-model="tradeMarkParams.tmName"
          placeholder="请输入品牌名称"
        />
      </el-form-item>
      <el-form-item label="品牌LOGO" prop="logoUrl">
        <el-upload
          class="avatar-uploader"
          action="/api/admin/product/fileUpload"
          :show-file-list="false"
          :on-success="handleAvatarSuccess"
          :before-upload="beforeAvatarUpload"
        >
          <img
            v-if="tradeMarkParams.logoUrl"
            :src="tradeMarkParams.logoUrl"
            class="avatar"
          />
          <el-icon v-else class="avatar-uploader-icon">
            <Plus />
          </el-icon>
        </el-upload>
      </el-form-item>
    </el-form>
    <!-- 具名插槽   -->
    <template #footer>
      <el-button type="primary" @click="cancel">取消</el-button>
      <el-button type="primary" @click="confirm">确定</el-button>
    </template>
  </el-dialog>
</template>

<script lang="ts" setup>
import { ref, onMounted, watch, reactive } from 'vue'
import {
  addTradeMark,
  deleteTradeMark,
  reqTradeList,
} from '@/api/product/trademark/index'
import { ElMessage } from 'element-plus'
//  引用品牌管理接口类型
import type { tradeResponse, tradeList } from '@/api/product/trademark/type'
import type { UploadProps, FormRules, FormInstance } from 'element-plus'
import { Delete } from '@element-plus/icons-vue'

defineOptions({
  name: 'Trademark',
})
//  用于表单校验
const ruleFormRef = ref<FormInstance>()
//  显示当前页数
let currentPage = ref<number>(1)
// 当前一页条数
let pageSize = ref<number>(3)
//  总 的条数
let total = ref(0)
//  商品列表
let tradeList = ref<tradeList>([])
//  控制弹窗是否展示
let dialogVisible = ref(false)
//  定义新增品牌数据
let tradeMarkParams = reactive({
  tmName: '',
  logoUrl: '',
})
// 气泡弹窗删除事件
const confirmDeleteEvent = async (row) => {
  let result = await deleteTradeMark(row.id)
  // 品牌添加成功后再次查询
  if (result.code == 200) {
    if (tradeList.value.length - 1 <= 0) {
      --currentPage.value
    } else {
      await reqTradeMarkListData()
    }
    ElMessage.success('删除品牌成功')
  } else {
    ElMessage.error('删除品牌失败')
  }
}
// 自定义校验规则，校验tmName
const validateTmName = (rule: any, value: any, callback: any) => {
  if (value && value.trim().length >= 2) {
    callback()
  } else {
    callback(new Error('品牌的名称必须大于两位'))
  }
}
// 自定义校验规则，校验LogoUrl
const validateLogoUrl = (rule: any, value: any, callback: any) => {
  if (!!value) {
    callback()
  } else {
    callback(new Error('请先传入对应的图片'))
  }
}
const resetForm = (formEl: FormInstance | undefined) => {
  if (!formEl) return
  formEl.resetFields()
}
//  定义校验规则
const rules = reactive<FormRules>({
  tmName: [
    {
      required: true,
      trigger: 'blur',
      validator: validateTmName,
    },
  ],
  logoUrl: [
    {
      required: true,
      validator: validateLogoUrl,
    },
  ],
})

// 图片上传前的勾子函数
const beforeAvatarUpload: UploadProps['beforeUpload'] = (rawFile) => {
  if (
    rawFile.type !== 'image/gif' &&
    rawFile.type !== 'image/jpeg' &&
    rawFile.type !== 'image/jpg' &&
    rawFile.type !== 'image/png'
  ) {
    ElMessage.error('图片的格式只支持gif,jpg,jpeg,png')
    return false
  } else if (rawFile.size > 10 * 1024 * 1024) {
    ElMessage.error('图片的大小大于10m， 请重新上传！！')
    return false
  }
  return true
}
//  图片上传成功后 调用的勾子函数
const handleAvatarSuccess: UploadProps['onSuccess'] = (
  response,
  uploadFile,
) => {
  if (response.code !== 200) {
    ElMessage.error('图片上传失败请从新尝试！！')
    return
  }
  tradeMarkParams.logoUrl = response.data
}

// 点击添加按钮事件
const handleToAdd = () => {
  // 清除校验规则
  resetForm(ruleFormRef.value)
  // 清除编辑时绑定的无关数据
  Object.keys(tradeMarkParams).forEach((key) => {
    if (key !== 'tmName' || key !== 'logoUrl') {
      delete tradeMarkParams[key]
    } else {
      tradeMarkParams[key] = ''
    }
  })
  dialogVisible.value = true
}
// 点击编辑按钮事件
const handleToEdit = (row) => {
  // 清除校验规则
  resetForm(ruleFormRef.value)
  // 将对应列的值赋值给tradeMarkParams， 增加一个id
  Object.assign(tradeMarkParams, row)
  dialogVisible.value = true
}

// 对话框 取消事件
const cancel = () => {
  dialogVisible.value = false
}

// 对话框  确认事件
const confirm = async () => {
  try {
    await ruleFormRef.value?.validate()
  } catch (e) {
    return
  }

  let result = await addTradeMark(tradeMarkParams)
  // console.log(result)
  //  没有传成功
  if (result.code !== 200) {
    ElMessage.error(tradeMarkParams?.id ? '修改名牌失败' : '添加品牌失败！')
    return
  }
  // 品牌添加成功后再次查询
  await reqTradeMarkListData()
  currentPage.value = tradeMarkParams?.id ? currentPage.value : 1

  ElMessage.success(tradeMarkParams?.id ? '修改品牌成功' : '添加品牌成功了！！')
  dialogVisible.value = false
}

//  商品列表接口获取数据
const reqTradeMarkListData = async () => {
  let result: tradeResponse = await reqTradeList(
    currentPage.value,
    pageSize.value,
  )
  if (!result?.data?.records?.length) {
    return
  }
  tradeList.value = result.data.records
  total.value = result.data.total
}

// 监测 页码和每页数量的值，去调用商品获取接口
watch([currentPage, pageSize], (oldVal, newVal) => {
  //  如果更改每页条数，则页码显示第一页
  newVal[1] !== oldVal[1] && (currentPage.value = 1)
  reqTradeMarkListData()
})
// 周期挂载函数
onMounted(() => {
  reqTradeMarkListData()
})
</script>

<style lang="scss" scoped>
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .table {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

:deep(.avatar-uploader .avatar) {
  width: 178px;
  height: 178px;
  display: block;
}

:deep(.avatar-uploader .el-upload) {
  border: 1px dashed var(--el-border-color);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: var(--el-transition-duration-fast);
}

:deep(.avatar-uploader .el-upload:hover) {
  border-color: var(--el-color-primary);
}

:deep(.el-icon.avatar-uploader-icon) {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  text-align: center;
}
</style>
